{{#if inited}}
	{{#event}}
		<div class="event list-element {{#isEventUpvoted this}}upvoted{{/isEventUpvoted}} clearfix" {{ data 'eventObj'}}>


			{{{ renderToolbar }}}
			{{{ renderUpvote this true }}}

			<!-- content -->
			<div class="span7 content clearfix">

				<div class="row {{#if image_url}}has-image{{/if}}">
					{{{img image_url "Thumb" "thumb"}}}
					<div class="title-body-wrap">
						<h5 class="title clearfix">
							<a href="{{eventUrl this}}">{{{v title }}}</a>
						</h5>
						<div class="body no-more">{{{v body }}}</div>
					</div>
				</div>

				{{{ renderStatusBar this }}}

				{{#if childrenExistAndExpanded}}
					<div class="replies row" {{ brokenImagesCleanup }}>
						<span class="replies-caret"></span>
						{{#children.sortByOriginTS}}
							{{{ renderChildEvent }}}
						{{/children.sortByOriginTS}}
					</div>
				{{/if}}

			</div>

		</div>
	{{/event}}
{{/if}}