<div class="panel panel-default item-list-wrap">
	<ul class="list-unstyled clearfix item-list">
		{{#items}}
			<li>{{ . }} <i class="fa fa-times-circle remove-item" can-click="removeItem"></i></li>
		{{/items}}
		<input type="text" can-keydown="manageItem" can-blur="addItem" class="form-control keyword-input" placeholder="Add tag">
	</ul>
</div>