{{#if items.length}}
	<ul class="list-group">
		{{#items}}
			<li class="list-group-item">
				{{ . }}
				<span class="badge" can-click="removeItem">&times;</span>
			</li>
		{{/items}}
	</ul>
{{/if}}
<div class="clearfix row add-item-wrap">
	<div class="col-xs-10">
		<input type="text" class="form-control" can-enter="addItem" placeholder="Add Item">
	</div>
	<div class="col-xs-2">
		<button class="btn btn-primary">Add Item</button>
	</div>
</div>