{{#if currentFunnel}}
	<category-form category="currentFunnel" done-editing="doneEditing"></category-form>
{{else}}
	<h1 class="admin-page-header">
		Categories
		<a href="{{ funnelLink 'new' }}" class="btn btn-primary create-category">Create Category</a>
	</h1>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>Category Name</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody>
			{{#funnels}}
				<tr>
					<td>{{ display_name }}</td>
					<td>
						<a class="btn btn-xs" href="{{ funnelLink this }}">Edit</a>
						<button class="btn btn-xs btn-danger" can-click="deleteFunnel">Delete</button>
					</td>
				</tr>
			{{/funnels}}
		</tbody>
	</table>
{{/if}}