{{#if currentFunnel}}
	<category-form category="currentFunnel" done-editing="doneEditing"></category-form>
{{else}}
	<h1 class="admin-page-header">Services</h1>
	<hr>
	<table class="table">
		<thead>
			<tr>
				<th>Funnel Name</th>
				<th class="actions"></th>
			</tr>
		</thead>
		<tbody>
			{{#funnels}}
				<tr>
					<td>{{ display_name }}</td>
					<td>
						<button class="btn btn-xs" can-click="editFunnel">Edit</button>
					</td>
				</tr>
			{{/funnels}}
		</tbody>
	</table>
{{/if}}