<div class="clearfix info-wrapper">
	<div class="col-xs-2">
		<img src="/styles/mockup/img.png" alt="" class="user-avatar">
	</div>
	<div class="col-xs-10">
		<table class="table">
			<tbody>
				<tr>
					<td class="col-xs-3"><b>Points:</b></td>
					<td>
						<span class="badge">23</span>
					</td>
				</tr>
				<tr>
					<td class="col-xs-3"><b>Name:</b></td>
					<td>Mihael Konjević</td>
				</tr>
				<tr>
					<td class="col-xs-3"><b>Email:</b></td>
					<td>mihael@bitovi.com</td>
				</tr>
				<tr>
					<td class="col-xs-3"><b>Address:</b></td>
					<td>Prijedorska 7, Zagreb Croatia</td>
				</tr>
				<tr>
					<td class="col-xs-3"><b>Connected Networks</b></td>
					<td>
						<a href="javascript://" class="btn btn-primary btn-xs">
							<i class="fa fa-twitter-square"></i> @mihaelkonjevic
						</a>
						<a href="javascript://" class="btn btn-primary btn-xs">
							<i class="fa fa-github-square"></i> retro
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<hr>
</div>
<dashboard onuserpage="true"></dashboard>