{{#if canBeCollapsed}}
	<h3 class="section-title expand-chat" can-click="toggleMessages">
		<i class="icon-chat"></i>{{ messages.length }} messages in chat
		<span class="expand-status">{{#if showMessages}}-{{else}}+{{/if}}</span>
	</h3>
{{/if}}

{{#if showMessages}}

	<div class="chat-messages">

		{{#sortedMessages}}
			{{#unless canBeCollapsed}}
				{{#showDateHeader}}
					<h3 class="section-title"><i class="icon-calendar"></i>Chat Messages for {{ prettifyTs date 'date' }}</h3>
				{{/showDateHeader}}
			{{/unless}}
			{{{separator}}}
			<div class="chat-message">
				<div class="time">{{ prettifyTs origin_ts 'time' }}</div>
				<strong class="actor">{{ actor }}</strong> {{ title }}
			</div>
		{{/sortedMessages}}

	</div>

{{/if}}
