<!-- ACTIVITIES --><div id="activities" class="span12">  <ul id="activity-list">	{{#loop user.activities reverse=true}}	{{#display}}	<li>	  <span class="points">{{value}}</span>	  <span class="type">[{{type}}]</span>	  <a href="{{eventUrl}}">{{#if title}}{{title}}{{else}}{{comment}}{{/if}}</a>	  <small>({{prettifyTs created_at format="datetime"}})</small>	</li>	{{/display}}	{{/loop}}	  </ul>  </div>