<!-- ACTIVITIES --><div id="activities" class="span12">  <ul id="activity-list">	{{#loop user.activities reverse=true}}	{{#display}}	<li>	  <span class="points">{{getPoints}}</span>	  <!--<span class="type">[{{type}}]</span>-->	  {{#if title}}{{title}}{{else}}{{comment}}{{/if}}	  <small>({{prettifyTs created_at format="datetime"}})</small>	</li>	{{/display}}	{{/loop}}	  </ul>  </div>