<!-- ACTIVITIES --><div id="activities" class="span12 activities">  <ul id="activity-list">		{{#user.activities}}	<li>	  <span class="points">{{getPoints}}</span>	  <span class="type">[{{type}}]</span>	  {{title}}	  <small>({{prettifyTs created_at format="datetime"}})</small>	</li>	{{/user}}	  </ul>  </div>