{{#if inited}}
	{{#event}}
		<div class="event list-element clearfix {{#isAwarded this}}awarded{{/isAwarded}} {{#isEventUpvoted this}}upvoted{{/isEventUpvoted}}" {{ data 'eventObj'}}>

			{{{ renderToolbar }}}
			{{{ renderUpvote this true }}}

			<div class="span7 content clearfix">

				<div class="row clearfix">
					{{{img image_url "Thumb" "thumb"}}}

					<h5 class="title {{#if isOrCanBeAwarded}}has-badge{{/if}} clearfix">
						<a href="{{ eventUrl this }}">{{v title }}</a>

						{{#if props.thread_awarded}}
							<span class="badge awarded">Awarded +{{ double upvotes }}</span>
						{{/if}}

						{{#if upvotes}}
							{{#unless props.thread_awarded}}
								<span class='badge'>+{{ double upvotes }}</span>
							{{/unless}}
						{{/if}}
					</h5>

					<div class="body no-more">{{{v body }}}</div>

				</div>

				{{{ renderStatusBar this }}}

				{{#if childrenExistAndExpanded}}
					<div class="replies row" {{ brokenImagesCleanup }}>
						<span class="replies-caret"></span>

						{{#children.sortByOriginTS}}

							{{#if isPush}}
								{{#children.sortByOriginTS}}
									{{{ renderChildEvent "commit" }}}
								{{/children.sortByOriginTS}}
							{{/if}}

							{{#if isPullRequest}}
								{{{ renderChildEvent "pull_request" }}}
							{{/if}}

							{{#unless isPushOrPullReq}}
								{{{ renderChildEvent }}}
							{{/unless}}

						{{/children.sortByOriginTS}}

					</div>
				{{/if}}

			</div>
		</div>
	{{/event}}
{{/if}}