<!-- GREATEST / LATEST -->
<ul id="viewFilter" class="nav">
</ul>
<!-- /GREATEST / LATEST -->

<ul class="nav">
  <li class="divider-vertical"></li>
</ul>

<!-- PROJECTS FILTER -->
<ul id="projectFilter" class="nav">
</ul>
<!-- /PROJECTS FILTER -->

<ul class="nav">
  <li class="divider-vertical"></li>
</ul>

<!-- CATEGORY FILTER -->
<ul id="categoryFilter" class="nav"></ul>
<!-- /CATEGORY FILTER -->
