<li><a class="disabled">Filter:</a></li>
{{#defaultOption}}
<li><a href="#" {{data 'item'}} class="item active">{{display_name}}</a></li>	
{{/defaultOption}}

{{#loop items begin=0 length=3}}
  <li><a href="#" {{data 'item'}} class="item">{{display_name}}</a></li>	
{{/loop}}

<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> More <b class="caret"></b> </a>
  <ul class="dropdown-menu">
	{{#loop items begin=3}}
	  <li><a href="#" {{data 'item'}} class="item">{{display_name}}</a></li>	
	{{/loop}}
  </ul>
</li>
