<!-- GREATEST / LATEST --><ul class="nav" id="viewFilter"></ul><ul class="nav"><li class="divider-vertical"></li></ul><!-- PROJECTS FILTER --><ul class="nav" id="projectFilter"></ul><ul class="nav"><li class="divider-vertical"></li></ul><!-- CATEGORY FILTER --><ul class="nav" id="categoryFilter"></ul>