<div id="new-reward" class="row">
  <form class="form-horizontal">

	<input type="hidden" id="reward-id" name="reward[id]" value="{{reward.id}}" />

	<div class="control-group">
	  <label class="control-label" for="reward-title">Title</label>
	  <div class="controls">
		<input type="text" id="reward-title" name="reward[title]" placeholder="Title" value="{{reward.title}}" />
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="reward-point-mimimum">Point minimum</label>
	  <div class="controls">
		<input type="text" id="reward-point-mimimum" name="reward[point_minimum]" placeholder="Point minimum" value="{{reward.point_minimum}}" />
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="reward-display-point-mimimum">Point minimum text</label>
	  <div class="controls">
		<input type="text" id="reward-point-mimimum" name="reward[display_point_minimum]" placeholder="Display point text" value="{{reward.display_point_minimum}}" />
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="reward-description">Description</label>
	  <div class="controls">
		<textarea id="reward-description" name="reward[description]" placeholder="Description..."></textarea>
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="reward-disabled-ts">Disabled at</label>
	  <div class="controls">
		<input type="text" id="reward-disabled-ts" name="reward[disabled_ts]" placeholder="Disabled at" value="{{formatTs reward.disabled_ts}}" {{datepicker}} />
	  </div>
	</div>
	<div class="control-group">
	  <label class="control-label" for="reward-image">Image</label>
	  <div class="controls">
		<input type="file" id="reward-image" name="reward[image]" />
	  </div>
	</div>
	<div class="control-group">
	  <div class="controls">
		<button type="submit" name="submit" class="btn">Submit</button>
	  </div>
	</div>
	
  </form>
</div>
