<h4>Leaderboard</h4>

<ul class="unstyled">
  {{#loop users length=topLength}}
  <li class="{{#if loggedIn}}active{{/if}}">
	<span class="position">#{{__index}}</span>
	{{#avatarUrl}}<img class="avatar" src="{{.}}?size=22" alt="avatar">{{/avatarUrl}}
	{{name}}
	<span class="points pull-right">{{score}}</span>
  </li>
  {{/loop}}
</ul>

{{#if breakAt}}
  <ul class="unstyled"><li class="lightning-divider"></li></ul>

  <ul class="unstyled">
	{{#loop users begin=breakAt length=3}}
	<li class="{{#if loggedIn}}active{{/if}}">
	  <span class="position">#{{__index}}</span>
	  {{#avatarUrl}}<img class="avatar" src="{{.}}?size=22" alt="avatar">{{/avatarUrl}}
	  {{name}}
	  <span class="points pull-right">{{score}}</span>
	</li>
	{{/loop}}  
  </ul>
{{/if}}
