
#profile-dropdown .dropdown-menu {
	margin-top: 8px;
	margin-right: 12px;
}
#login-dropdown .dropdown-menu li a,
#profile-dropdown .dropdown-menu li a {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
	height: 20px;
	vertical-align: top;
}
/* user menu styles */
#profileOptions .dropdown-menu {
	margin-top: 5px;
}
#profileOptions .dropdown-menu > li > a {
	vertical-align: top;
	padding-left: 8px;
	height: 20px;
	padding-right: 35px;
}
.login-twitter, .login-github, .login-google, 
.login-profile, .login-points, .login-logout, .login-admin,
.login-rewards, .login-activity {
	.icon-font;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
	line-height: 20px;
	position: relative;

	&:before {
		font-size: 28px;
		text-decoration: inherit;
		display: inline-block;
		speak: none;
		position: absolute;
		top: -4px;
		left: 0;
		color: @grayLight;
	}
}
.login-twitter:before {
	content: "\e003"; 
	color: #21adeb;
}
.login-github:before {
	content: "\e027"; 
	color: @black;
}
.login-google:before {
	content: "\e031";
	font-size: 25px;
	top: -3px;
	color: @red;
}
.login-profile:before {
	content: "\e026";
}
.login-logout:before {
	content: "\e038"; 
}
.login-admin:before {
	content: "\e058"; 
}
.login-activity:before {
	content: "\e045"; 
}
.login-rewards:before {
	content: "\e028";
}
.login-points:before {
	 content: "\e030";
}
.dropdown-menu > li > a:hover .login-twitter, 
.dropdown-menu > li > a:hover .login-google,
.dropdown-menu > li > a:hover .login-github,
.dropdown-menu > li > a:hover .login-profile,
.dropdown-menu > li > a:hover .login-points,
.dropdown-menu > li > a:hover .login-logout,
.dropdown-menu > li > a:hover .login-admin,
.dropdown-menu > li > a:hover .login-rewards,
.dropdown-menu > li > a:hover .login-activity {
	&:before {
		color: @white;
	}
}

/* Top Navigation Bar --------------------------------------------- */

#navbar {
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	.border-radius(0px);
	z-index: 1001;
	
	a, button, li, textarea, input { outline: none !important; }
	
	.navbar-inner {
		background: #fff url(/assets/images/header-nav-bkg.jpg);
		border-bottom: 1px solid #fff;
	}
	.container {
		margin-right: auto;
		margin-left: auto;
		width: @gridRowWidth;
	}
	.brand {
		text-indent: -9999px;
		padding: 0;
		margin: 0;
		margin-right: 20px;
		width: 101px;
		height: 58px;
		background: url(/assets/images/bithub-logo.png) no-repeat center 12px;
	}
	.nav {
		color: @grayLight;
		padding-top: 14px;
		padding-bottom: 14px;
		
		> li {
		
			
			&#profile-dropdown > button,
			&#profile-dropdown > button:focus,
			&#profile-dropdown > button:hover {
				border: 0px;
				background: none;
				padding: 0px;
				margin: 0px;
				.no-box-shadow;
			}
			
			> a {
				font-size: 13px;
				color: @gray;
				padding: 5px 10px;
				margin-right: 0;
				border: 1px solid rgba(255, 255, 255, 0);
				.text-shadow-light;
				margin-bottom: 0;
				vertical-align: top;
			}
			> a.disabled {
				color: @grayLight;
			}
			> a.active, > a:hover {
				color: @red;
				background: none rgba(166, 168, 168, 0.21);
				.no-box-shadow;
				.border-radius(20px);
				border: 1px solid #fff;
			}
		}
		> li > a.disabled:hover, #login-dropdown > a {
			border-color: transparent;
			color: #424040;
			background: none;
		}
		#login-dropdown > a:hover {
			text-decoration: underline;
		}
		.latest {
			margin-right: 5px;
		}
		.divider-vertical {
			height: 30px;
			border-left: 1px solid #f4f5f5;
			border-right: 1px solid #d6d1d1;
			margin: 2px 5px 0;
		}
		li li.active a {
			background: #999;
		}
		.caret {
			border: none;
			width: 11px;
			height: 10px;
			margin: 5px 0 0;
		}
		
		
	} // .nav
	.dropdown.open > a {
		background: none;
		background-color: none;
	}
	.projects > a {
		color: #000;
		width: 90px;
		max-width: 90px;
	}
	#profileOptions {
		margin-top: 13px;
		position: relative;
	
		button {
			background: none;
			background-color: none;
			border: none;
			-moz-box-shadow: none;
			-webkit-box-shadow: none;
			box-shadow: none;
			font: 13px "Open Sans";
			color: #333333;
			padding-left: 45px;
			padding-top: 8px;
			padding-bottom: 8px;
		}	
		.dropdown-toggle {
			padding-right: 20px;
			
		}
	
	} //#profileOptions
	.avatar {
		width: 30px;
		height: 30px;
		.border-radius(6px);
		-moz-box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.15);
		-webkit-box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.15);
		box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.15);
		.border(@white);
	}
	
} // #navbar

#profile-navbar {
	padding-top: 70px;
}

#navbar .nav > li > a.active.boxed, #navbar .nav > li > a.boxed:hover, #navbar .projects .dropdown.open > a, #navbar .projects > a {
	.border-radius(@borderRadiusLarge);
}
 
#navbar #projectFilter.nav {
	> li > a {
		.border-radius(@borderRadiusLarge);
		border: 1px solid @white;
		background: none rgba(166, 168, 168, 0.21);
		.no-box-shadow;
		color: @grayDarker;
	}
	b.caret {
		margin-left: 8px !important;
	}
}
#navbar #projectFilter.nav > li > a:hover {
	color: #a80e14;
}

/* Latest/Greatest Icons *************************/
#navbar .nav > li > a {
	&.latest .glyph, &.greatest .glyph {
		.icon-font;
		width: 23px;
		height: 23px;
		//border: 1px solid #ccc;
		display: inline-block;
		margin: -2px 3px -6px -5px;
		position: relative;
		
		&:before {
			color: @grayLight;
			font-size: 37px;
			line-height: 23px;
			position: absolute;
			top: -6px;
			left: 0px;
		}
	}
	&.latest .glyph:before {
		content: '\e020';
	}
	&.greatest .glyph:before {
		content: '\e019';
	}
	&.active.latest .glyph, &.active.greatest .glyph,
	&.latest:hover .glyph, &.greatest:hover .glyph {
		&:before {
			color: @gray;
		}
	}
}

/* New Post Button */
.gradient-border-wrapper {
	padding: 2px;
	display: inline-block;
}

button#show-newpost-form-btn {
	//.btn;
	.btn-primary;
	font-weight: bold;
	margin-left: 10px;
	position: relative;
	top: 3px;
}


#profile-dropdown  {
	margin-left: 10px;
	
	b.caret {
		vertical-align: middle;
		padding-top: 6px;
	}
}

.subnav-wrapper {
	background: #f3f4f4;
	width: 100%;
	height: 35px;
	margin-bottom: 25px;
	box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid @white;
	position: fixed;
	z-index: 105;
}
.subnav {
	margin: 0;
	list-style: none;
	list-style-type: none;
	padding: 0;
	font-size: 13px;
	
	
	li {
		display: inline-block;
		margin-right: 20px;
		
		a {
			display: block;
			color: @grayLight;
			.text-shadow-light;
			&:hover {
				text-decoration: none;
				color: @black;
			}
		}
	}
	
	li, a {
		line-height: 35px;
	}
	
	li {
		&.account {
			color: @black;
		}
		&.active > a {
			font-weight: bold;
			color: @black;
		}
	}
}
