@import "custom-mixins.less";

#pages, .event-list-container, .event-list {
	position: relative;
}

/* Event list and events --------------------------------------------------------- */

.section-title, .earn-points h3  {
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
	margin: 10px 0 5px;
	text-decoration: none;
	.border-radius;
	.text-shadow-light;
	text-transform: capitalize;
	padding: 5px 10px 5px 25px;
	background-color: #eee;
	background: #eee url(/assets/images/header-nav-bkg.jpg) repeat;
	position: relative;
	
	i {
		font-size: 22px;
		position: absolute;
		left: 7px;
		top: -5px;
		.text-smoothing;
	}
	.badge {
		position: absolute;
		right: 1px;
		top: 4px;
	}
	.breakout i {
		left: auto;
		right: 5px;
		color: @grayLight;
		
		&:hover {
			text-decoration: none;
			color: @gray;
		}
	}
}
.event-list.top-rated {
	margin-top: 20px;
}

.code-events {
	margin-bottom: 10px;

	h5.category-title {
		display: inline-block;
		margin-left: 67px;
	}
	h5.author-title {
		display: inline-block;
		margin-right: -67px;
	}
	h5.title {
		font-weight: normal;
	}
	.event {
		padding: 5px 0px;
	}
}

.event {
	position: relative;
	padding: 10px 0px;

	&.notified {
		.border-radius(6px);
		background-color: #e9f8ff;
		border: 1px solid #71bee5;
		
		padding: 10px;
		margin: 10px -10px;
	}
	&:hover .toolbar {
		display: block;
	}
	.toolbar {
		display: none;
		position: absolute;
		top: 11px;
		right: 0;
		z-index: 9;
		.box-shadow;
		
		.delete-event, .edit-event {
			float: right;
			font-size: 10px;
			margin-left: 1px;
			background: #71bee5;
			text-transform: uppercase;
			font-weight: bold;
			color: white;
			padding: 0 7px;
			text-decoration: none;
		}
		.edit-event {
			.border-radius-left(3px);
			&:hover {
				background: black;
				text-decoration: none;
			}
		}
		.delete-event {
			.border-radius-right(3px);
			&:hover {
				background: red;
				text-decoration: none;
			}
		}
		
	}
	.title {
		margin: 0;
		
		a {
			font-size: 14px;
			margin: 0;
			line-height: 18px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			display: block;
			float: left;
			max-width: 100%;
		}

		.twitter-username {
			float: left;
			margin-right: 5px;
		}

		.badge {
			float: left;
			margin-top: 2px;
			margin-left: 9px;
			margin-right: 0;
		}
		.awarded {
			padding-left: 3px;
		}

		.expand-body {
			color: #777;
			margin-left: 10px;
		
		}
	} // .title
	.has-badge a {
		max-width: 535px;
	}
	.body {
		color: #333333;
		font-size: 12px;
		line-height: 17px;
		
		hr {
			display: none;
		}
		blockquote {
			border-left: solid 1px @grayLight;
			margin: 0;
			padding-left: 5px;
			
			p {
				color: @gray;
				font-size: 13px;
			}
		}
		h1,h2,h3,h4,h5 {
			font-size: 14px;
			font-weight: bold;
		}
		
	} // .body
	.replies .body {
		display: block;
	}
	&:hover .body {
		color: #000;
	}
	img.thumb {
		float: left;
		width: 120px;
		margin: 5px 15px 10px 0px;
	}
	.status {
		position: relative;
		margin-bottom: 6px;
		height: 10px;
		margin-top: 6px;
	}
} // .event 

.status, .status a, .event .manage-bar > ul.nav > li > a {
	color: #999;
}

.status .user-icon {
	height: 14px;
	margin-right: 5px;
}

ul.tag-list, .event ul.manage-bar {	
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 0px;
}

ul.tag-list:hover {
	background-color: white;
	z-index: 3;
	box-shadow: 5px 0px 5px white;
}

ul.tag-list li, .event .manage-bar ul.nav > li {	
	background-color: #ecebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666666;
	float: left;
	margin-right: 5px;
	font-size: 12px;
	line-height: 14px;
	padding: 0px 5px 2px;
}

.event .manage-bar ul > li.tag-action.present {
	background-color: purple;
}

.event:hover ul.tag-list li a, .event:hover .manage-bar > ul.nav > li > a {	
	color: #3b3b3b;
}

.event ul.tag-list li:hover a, .event .manage-bar > ul.nav > li:hover > a {
	background: none;
	color: #A80E14;
}

.event ul.twitter-actions-list li {
	display: inline;
	margin-left: 5px;
}

.event ul.twitter-actions-list li i {
	margin-top: 3px;
}

.event .votes:hover {
	cursor: pointer;
}

.event .votes { 
	margin: 0px;
	position: relative;
}

.event .votes .uparrow {
	height: 14px;
	position: absolute;
	top: 1px;
	width: 15px;
	&:before {
		.icon-font;
		content: '\e019';
		font-size: 28px;
		line-height: 4px;
		color: @grayLight;
	}
}

.event:hover > .votes .uparrow:before, .event.upvoted > .votes .uparrow:before {
	color: @green;
}

.reply-event:hover > .votes .uparrow:before, .reply-event.upvoted > .votes .uparrow:before {
	color: @green;
}

.event.awarded .badge {
	background: @grayLight;
	&:before {
		border-right: 7px solid @grayLight;
	}
}

.event .votes .count {
	left: 12px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: -1px;
	text-align: center;
	width: 36px;
	color: #000;
}

.event .upvoted .count {
	color: #000;
}

.event .votes .voteup-btn {
	border-radius: 3px;
	display: none;
	color: #fff;
	font-size: 11px;
	height: 20px;
	position: absolute;
	width: 54px;
	text-align: center;
	top: 22px;
	background: @green;
	overflow: visible;
	
	&:before {
		display: block;
		width: 0; 
		height: 0; 
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 5px solid @green;
		position:absolute;
		content : '';
		top: -4px;
		z-index: 1;
		display: block;
		left: 3px;
	}	
}

.event.upvoted > .votes .voteup-btn {
	background-color: #7b7b7b;
	&:before {
		border-bottom-color: #7b7b7b;
	}
}

.event:hover .votes .voteup-btn {
	display: block;
	z-index: 10;
}

.event .title .awarded {
	display: inline-block;
	background-color: #ff8d1a;
	&:before {
		border-right-color: #ff8d1a;
	}
}

.event .status .expand-replies {
	color: #666666;
	white-space:nowrap;
	font-size: 11px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: -4px;
}

.event .status .expand-replies .icon {
	border: 1px solid #999;
	float: left;
	margin: 3px 5px 0px 0px;
	height: 11px;
	width: 11px;

	&:before {
		position: absolute;
		width: 13px;
		height: 12px;
		display: block;
		top: 0;
		left: 0;
		text-align: center;
		content: "+";
		line-height: 19px;
	}
}
.event .status .expand-replies .icon.collapse {
	
	&:before {
		content: "–";
		line-height: 8px;
	}
}

.event .status .expand-manage-bar {
	width: 14px;
	height: 14px;	
	display: none;
	
	&:before {
		content: '+';
		text-align: center;
		display: block;
		position: absolute;
		top: 1px;
		background: @grayLight;
		color: @white;
		height: 14px;
		width: 14px;
		line-height: 12px;
		font-size: 11px;
		.border-radius(40px);
	}
	&:hover:before {
		background: @gray;
	}
	&.expand-manage-bar.collapse { 
		&:before {
			.rotate(-45,0);
		}
	}
}

.event:hover .status .expand-manage-bar {
	display: inline-block;
}

.event .manage-bar {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 5px 0px 3px 0px;
	display: none;
	position: relative;
	top: 5px;
}

.event .metadata-container {
	position: absolute;
	right: 0px;
	z-index: 2;
	background-color: white;
	height: 20px;
	padding-left: 3px;
	box-shadow: -5px 0px 5px white;
	padding-top: 1px;
	margin-top: -1px;
}

.event .event-metadata, .event-metadata strong, .event-metadata small, .event-metadata a {
	color: #999;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	font-style: normal;
}
.event-metadata img {
	margin-right: 5px;
	margin-bottom: 2px;
}
.event-metadata a {
	text-decoration: underline;
	color: #999;
	&.details-link {
		text-decoration: none;
		font-size: 150%;
		float: right;
		margin: -5px 0 0 5px;
		&:hover {
			color: #666;
		}
	}
}
.readmore-link, .btn-tiny, .btn.btn-tiny {
	background-color: none;
	background: none;
	border: none;
	color: #999;
	display: block;
	float: right;
	font-size: 9px;
	margin-top: -2px;
	text-align: center;
	min-height: 14px;
	line-height: 12px;
	padding: 0 7px;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}
.readmore-link:hover, .btn-tiny:hover {
	text-decoration: none;
}

.event .replies {
	background-color: #fff;
	border: 1px solid #c3bfbe;
	padding: 3px;
	position: relative;
	margin-top: 14px;
	display: block;
	.replies-caret {
		display: block;
		height: 7px;
		position: absolute;
		left: 20px;
		top: -7px;
		width: 12px;
		background: url(/assets/images/replies-glyph.png) no-repeat 0 bottom;
	}
	.even {
		background-color: #f8f7f7;
	}
	.reply-event {
		margin: 0px;
		position: relative;
		padding: 3px;
		
		.reply {
			display: block;
			.pull-left;
			width: 90%;
			.border-box;
			overflow: hidden;
			
			hr {
				display: none;
			}
			blockquote {
				border-left: solid 1px @grayLight;
				margin: 0;
				padding-left: 5px;
				margin-bottom: 10px;
				
				p {
					color: @gray;
					font-size: 13px;
				}
			}
			h1,h2,h3,h4,h5 {
				font-size: 14px;
				font-weight: bold;
			}
			pre {
				line-height: 13px;
				code {
					font-size: 11px;
				}
			}
		}
		.event-metadata {
			margin: 5px;
		}
		&:nth-child(even) {
			background-color: lighten(#f7f7f7,1%);
		}

		&.commit-event {
			background-color: #e6f4ff;
		}
		&.pull_request {
			background-color: #fefced;
		}

		.votes {
			.pull-left;
			width: 10%;
			height: 20px;
			.border-box;

			margin-top: -4px;
			
			.count {
				top: 3px;
			}
			.uparrow {
				left: 6px;
				top: 5px;
			}
			.award-btn { display: block; }
			.award-btn {
				display: none;
				position: absolute;
				top: 43px;
				color: #fff;
				height: 20px;
				width: 54px;
				.word {
					position: relative;
					text-align: center;
					background-color: #ff8d1a;
					font-size: 11px;
					width: 93%;
					border-radius: 3px;
					//float: left;
				}
			} 
		} 
	}
}

/* Award button on event ---------------------------------------- */

.event:hover .votes .award-btn { display: block; }
.event .votes .award-btn {
	display: none;
	position: absolute;
	top: 43px;
	color: #fff;
	height: 20px;
	width: 54px;
}

/* Award flags--------------------------------------------------- */
.reply-event, .event.commit-event {

	.metadata-container {
		bottom: 1px;
	}
	.awarded-badge {
		background: @orange;
		.border-radius(60px);
		width: 35px;
		height: 35px;
		position: absolute;
		left: -34px;
		color: @white;
		text-align: center;
		.box-shadow;
		padding: 6px;
		.border-box;
		border: 1px solid @white;

		span {
			font-weight: bold;
			color: @white;
			.text-shadow;
		}
	}
	.award-btn {
		position: absolute;
		left: -65px;
		padding-right: 10px;
		padding-bottom: 15px;
		display: none;
		width: 100px;
		
		a {
			background-color: @orange;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;	
			color: #fff;
			display: block;
			position: relative;
			font-size: 11px;
			padding: 0px 10px;
			width: 35px;
			
			&:before {
				display: block;
				width: 0; 
				height: 0; 
				position:absolute;
				content : '';
				top: 6px;
				z-index: 1;
				display: block;
				right: -4px;
				border-top: 4px solid transparent;
				border-bottom: 4px solid transparent;
				border-left: 6px solid @orange;
			}

			.caret {
				display: none;
			}
		}
	}
	&:hover .award-btn { display: block; }
}


/* Single Event --------------------------------------------------- */

#event-container {
	padding-top: 70px;
	margin: 0px auto 100px auto;
	width: 740px;
}

#event-container .sep .flag.blue {
	margin-left: -140px; 
	padding: 3px 0px;
}

#event-container .event img.thumb {
	width: auto;
	max-width: 180px;
	margin: 0px 15px 10px 0px;
}

#event-container .event .link a {
	color: #999;
	font-weight: normal;
}


.irc-chat-container {
	max-height: 300px;
	border: 1px solid #969595;
	overflow: scroll;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 20px;
	overflow-x: hidden;
}

.irc-chat-container .username {
	color: red;
}



.twitter-profile-pic, .event .thumb {
	margin: 4px 9px 0 0;
	padding: 3px;
	max-width: 60px;
	background-color: #b2b2b2;
}

.twitter-profile-pic img {
	width: 48px;
	height: 48px;
}

.twitter-actions-list .twitter-action {
	background-image: url(/assets/images/twitter-actions.png);
	float: left;
	width: 17px;
	height: 20px;
	margin-right: 5px;
}
.twitter-actions-list.nav {
	margin-bottom: 0;
}
.twitter-actions-list .twitter-action.reply {
	background-position: 0px 2px;
}

.twitter-actions-list .twitter-action.retweet {
	background-position: 0px -15px;
}

.twitter-actions-list .twitter-action.star {
	background-position: 0px -32px;
}


.retweets-container {
	margin-right: 15px;
	position: relative;
	top: -4px;
	.pull-left;
	
	.icon-retweet {
		text-shadow: none;
		font-size: 22px;
		line-height: 12px;
	}
	.profile-icon {
		width: 16px;
		height: 16px;
	}
}

.twitter-hashtag, .twitter-mention {
	font-weight: bold;
}

.event.single-event {
	margin-top: 30px;
}
input.transfer-ownership {
	font-size: 11px;
	height: 12px;
	width: 200px;
}

.chat-message {
	position: relative;
	padding-left : 55px;
	.time {
		padding-top: 1px;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 50px;
		font-size: 11px;
	}
	
}
bh-chat {
	margin-bottom: 15px;
	display: block;
	font-size: 12px;

	hr, .section-title {
		margin: 10px 0;
	}

	&.expanded {
		border: 1px solid #71bee5;
		.border-radius;
		
		.section-title {
			margin: -1px 0 0;
			.border-radius(0);
		}
		.chat-message {
			margin: 0 10px;
		}
		.chat-messages {
			max-height: 250px;
			overflow-y: auto;
			padding: 10px 0;
		}
		.expand-status {
			margin-right: -5px;
			line-height: 9px;
		}
	}
	.expand-status {
		float: right;
		display: inline-block;
		height: 11px;
		width: 11px;
		color: white;
		border: 1px solid white;
		text-align: center;
		line-height: 11px;
		margin-right: -4px;
	}
}

a.more, a.less  {
	.border-radius(1px);
	display: inline-block;
	height: 13px;
	width: 13px;
	color: white;
	text-align: center;
	line-height: 13px;
	background: #4995bb;
	&:hover {
		color: white;
		background: #2578b4;
		text-decoration: none;
	}
}

a.less {
	line-height: 11px;
}

.expand-chat {
	background: #71bee5;
	text-shadow: 0 -1px 0 #5394d9;
	color: white;
	cursor: pointer;
	&:hover {
		background: #4995bb;
	}
}

.edit-post-modal {
	width: 696px;
	margin-left: -348px;
	
	.modal-body {
		padding-left: 0;
		padding-right: 0;
		overflow-x: hidden;
		max-height: 600px;
	}
	.newpost-form {
		margin: 10px 0 0 0;
	}
	.row {
		margin-left: 3px;
	}
}
.tag-control-group {
	margin-right: -13px;
	.available-tags, .event-tags {
		float: left;
		width: 49%;
		ul {
			border: 1px solid #ccc;
			.border-radius(3px);
			padding: 2px 2px 0;
			height: 100px;
			overflow-y: scroll;
			li {
				.border-radius(1px);
				margin-bottom: 2px;
				background: #ddd;
				cursor: pointer;
				padding: 1px 5px;
				&:hover {
					background: #4995bb;
					color: white;
				}
			}
		}
	}
	.event-tags {
		float: right;
	}
	.tag-icon {
		float: right;
	}
}
.title-body-wrap {
	width: 100%;
}
.has-image .title-body-wrap {
	float: left;
	width: 528px;
}
h5.twitter-title {
	margin: 0;
}
.post-error {
	margin: 0 20px 15px 10px;
	ul {
		margin: 0;
	}
}
.rsvp-row {
	line-height: 26px;
}
.rsvp-thumb-wrap {
	width: 24px;
	height: 24px;
	float: right;
	margin-left: 5px;
	overflow: hidden;
	text-align: center;
	line-height: 22px;
	background: #ccc;
	border: 1px solid #999;
	img {
		display: inline-block;
	}
}

.rsvp-response {
	.border-radius(30px);
	float: left;
	margin-right: 10px;
	background: #26931d;
	width: 60px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-size: 9px;
	height: 16px;
	line-height: 16px;
	font-weight: bold;
	margin-top: 5px;
}
.rsvp-response-waitlist {
	background: #666;
}
.rsvp-response-no {
	background: #a31413;
}
.event-date-wrap {
	.border-radius(30px);
	float: left;
	margin-right: 5px;
	background: #4995bb;
	padding: 0 10px;
	text-transform: uppercase;
	color: white;
	text-align: center;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	font-weight: bold;
	margin-top: 1px;
}
.event-location {
	background: #E6F2F8;
	padding: 5px 10px;
	margin: 10px 0;
	font-size: 12px;
}
