/* New post ------------------------------------------------------- */

#newpost-form-wrapper {
	position: fixed;
	top: 62px;
	z-index: 905;
	width: 100%;

	.select-menu {
		width: 100%;
		margin-right: 0;
	}
}

#newpost-bottom-separator {
	background-color: #d5d8d8;
	height: 8px;
	width: 100%;
	border-bottom: 1px solid #aeadad;
}

#newpost-form-container {
	background-color: #fff;
}

.newpost-form {
	margin-top: 20px;
}

.newpost-form form {
	margin-bottom: 0px;
}

.newpost-form .left {
	width: 150px;
	margin-left: 10px;
}

.newpost-form .left .btn.select {
	width: 124px;
	text-align: left;
}

.newpost-form .left .btn {
	margin-top: 0px;
}

.newpost-form .left .newpost-datepicker input, .newpost-form .left .newpost-timepicker input {
	width: 111px;
}

.newpost-form .right {
	width: 480px;
}

.newpost-form .right input[type=text], .newpost-form .right textarea {
	width: 480px;
}

.newpost-form .right input[name=postas] {
	width: 280px;
}

.newpost-sidebar {
	background-color: #f3f4f4;
	position: relative;
	width: 270px;
	margin-bottom: 20px;
	padding: 10px 20px 9px;
}

.newpost-form .image-uploader {
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	border: 1px solid #ccc;
	.border-radius(4px);
	color: #ccc;
	font-weight: bold;
	height: 60px;
	margin-bottom: 20px;
	padding-top: 60px;
	position: relative;
	text-align: center;
	width: 150px;
	line-height: 15px;
	z-index: 10;
	background: lighten(@yellow,45%);

	&:before {
		.icon-font;
		content: '\e043';
		font-size: 55px;
		position: absolute;
		top: 0;
		left: 0;
		width: 150px;
		text-align: center;
		color: lighten(@yellow,45%);
		text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	}
}

.newpost-form .image-uploader:hover, .newpost-form .image-uploader.active {
	border: 1px solid #969595;
	color: #969595;
	cursor:pointer;
}

.newpost-form .image-uploader input {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 101;
	display:block;

	background:green;
	font-size: 2em;
	width:150px;
	height:120px;

	-moz-opacity:0;
	/* filter:alpha(opacity: 0); */
	opacity: 0;
	cursor: pointer;
}

.newpost-form .image-uploader:focus {
	border: 1px solid #969595;
}

.newpost-form .image-uploader .progress {
	position: relative;
	width: 80%;
	margin: 15px auto 0px auto;
	height: 5px;
	z-index: 102;
}

.newpost-form .image-uploader .image-preview {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	line-height: 108px;
	padding: 5px;
}

.newpost-form .image-uploader .image-preview img {
	z-index: 105;
	max-width: 140px;
	max-height: 110px;
	display: inline-block;
}

.newpost-sidebar h4 {
	color: #666;
	.badge {
		font-size: 100%;
		height: 28px;
		line-height: 28px;
		position: absolute;
		right: 10px;
		top: 28px;
		padding-right: 15px;
		.border-radius-left(12.5%);

		&:before {
			left: -7px;
			top: 0px;
			border-top: 14px solid transparent;
			border-bottom: 14px solid transparent;
			border-right:14px solid @green;
		}
	}
}

.newpost-sidebar p {
	font-size: 12px;
	line-height: 1.4em;
}
#newpost-form-submit {
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#hide-newpost-form-btn {
	position: absolute;
	right: 6px;
	top: 6px;
}
.text-error {
	font-size: 11px;
	margin: 0;
	font-weight: bold;
}
.remove-image {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 200;
	background: #333;
	width: 17px;
	height: 17px;
	line-height: 17px;
	color: #ccc;
	border-radius: 100%;
	font-size: 15px;
	text-align: center;
	margin: -9px;
	cursor: pointer;
	&:hover {
		color: white;
	}
}
