#oauth-wrap {
	margin: 85px 20px 0;
	form {
		.btn {
			float: right;
		}
		.btn-signup {
			width: auto;
			float: right;
			margin: 0;
			padding: 4px 12px;
		}
		.btn-link {
			color: #f30;
		}
	}
}