/* For Retina Displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2),  
only screen and (min--moz-device-pixel-ratio: 2),  
only screen and (-o-min-device-pixel-ratio: 2/1),  
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-device-pixel-ratio:1.5) {  

	#navbar .brand {
		background-image: url(/assets/images/bithub-logo-x2.png);
		background-size: 100px 31px;
	}
	.event .votes .uparrow {
		background-image: url(/assets/images/vote-up-x2.png);
		background-size: 15px 28px;
	}
	.event .status .expand .icon {
		background: url(/assets/images/replies-glyph-x2.png) no-repeat;
		background-size: 13px 39px;
	}
	#navbar #profileOptions .dropdown-toggle, .caret {
		background-image: url(/assets/images/dropdown-x2.png);
		background-size: 11px 37px;
	}
	.login-twitter, .login-github, .login-google, 
	.login-profile, .login-points, .login-logout {
		background-image: url(/assets/images/account-glyphs-x2.png);
		background-size: 40px 120px;
	}
	.sidebar .scorings .badge,
	.sidebar .scorings .badge::after  {
		background-image: url(/assets/images/point-indicator-x2.png);
		background-size: 37px 15px;
	}
	.twitter-actions-list .twitter-action {
		background-image: url(/assets/images/twitter-actions-x2.png);
		background-size: 17px 51px;
	}
	.retweets-container .retweet-icon {
		background-image: url(/assets/images/icon-retweet-x2.png);
		background-size: 24px 16px;
	}
	/*
	.sidebar .awards ul li {
		background-image: url(/assets/images/icon-check-x2.png);
		background-size: 15px 16px;
	}
	*/
	.noticebox.notice-flag {
		background-image: url(/assets/images/icon-flag-x2.png);
		background-size: 25px 25px;
	}
	.noticebox.notice-star {
		background-image: url(/assets/images/icon-star-x2.png);
		background-size: 25px 25px;
	}
	#navbar #profileOptions .user-avatar {
		background-image: url(/assets/images/icon-user-x2.png);
		background-size: 35px 35px;
	}
	.btn-bigass.plus {
		background: url(/assets/images/newpost-glyphs-x2.png)no-repeat 10px 8px #585656;
		padding-left: 35px;
		background-size: 14px 49px;
	}
	.newpost-form .image-uploader {
		background-image: url(/assets/images/image-upload-x2.png);
		background-size: 38px 38px;
	}
	.newpost-sidebar h4.submit-your-app {
		background-image: url(/assets/images/points-50-x2.png);
		background-size: 78px 30px;
	}
	/*
	.event-list h3 {
		background-image: url(/assets/images/follow-glyphs-x2.png);
		background-size: 38px 418px;
	}
	*/
}
