/* Profile -------------------------------------------------------- */
.userPoints {
	font-weight: bold;
	padding: 0 8px;
	border: 1px solid #4995bb;
	.border-radius(15px);
	color: @white;
	margin-left: 5px;
	background-color: #71bee5;
	text-shadow: 0 -1px 0 rgba(83, 148, 217, 1);
}
.profile-content {
 	padding-top: 30px;
}

#edit-profile-form p.mailing-addr-caption {
	margin: 10px 0px 4px 10px;
}

#edit-profile-form .controls-row label {
	width: 175px;
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

.form-status {
	text-align: center;
	margin-top: 5px;
}
.form-status .loading { display: none; }
.form-status .error { color: red; display: none; }
.form-status .success { color: green; display: none; }

.controls-row select {
	width: 190px;
}

#edit-profile-form .controls-row label:last-child {
	margin-right: 0px;
}

#edit-profile-form input[name=name], 
#edit-profile-form input[name=email],
#edit-profile-form input[name=street] { width: 320px; }
#edit-profile-form input[name=city] { width: 140px; }
#edit-profile-form input[name=state], #edit-profile-form input[name=postal] { width: 70px; } 

#edit-profile-form .btn-group {
	display: inline-block;
	margin-top: -6px;
}
#edit-profile-form .btn-group .select {
	width: 160px;
	text-align: left;
}

#edit-profile-form button.btn-bigass {
	width: 120px;
	display: block;
	margin: 0px auto;
}

.profile-content .avatar img {
	border: 1px solid #ccc;
	padding: 10px;
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	border: 1px solid #ccc !important;
}

ul.providers {
	color: #777;	
	font-size: 12px;
	font-weight: bold;
	list-style: none;
	margin: 10px 0px;
	
	li {
		margin-bottom: 5px;
		
		a.remove {
			color: #ccc;
			font-size: 20px;
			
			&:hover {
				text-decoration: none;
				color: #555;
			}
		}
	}
}

a.btn.connect {
	color: #777;
	font-size: 11px;
	font-weight: normal;
	padding: 0px;
	height: 22px;
	vertical-align: top;
	width: 120px;
	text-align: left;
	span {
		margin: 2px 5px;
	}
}
#login-modal {
	.modal-body {
		text-align: center;
	}
	.providers {
		width: auto;
		
		li {
			display: inline-block;
			width: auto;
			
			a {
				font-size: 13px;
				margin-right: 10px;
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 10px;
				width: 90px;
			}
		}
	}
}



#activity-list {
	list-style: none;
	margin: 0 0 15px;
	border: none;
	li {
		padding: 10px 10px 10px 120px;
		border-bottom: 1px solid #eee;
		background: none;
		position: relative;
		&:nth-child(even){
			background: none;
		}
		.badge {
			font-weight: bold;
			margin-right: 10px;
			width: 20px;
			text-align: right;
			display: inline-block;
		}
		.type {
			background: #999;
			.border-radius(15px);
			width: 60px;
			text-align: center;
			font-size: 80%;
			color: white;
			text-shadow: 0 -1px 0 #888;
		}
		.badge, .type {
			position: absolute;
			top: 12px;
			left: 0px;
		}
		.type {
			left: 49px;
			line-height: 16px;
		}
		small {
			color: #777;
			font-size: 11px;
		}
	}
}


#activities { 
	padding-bottom: 10px;
	margin-top: 10px;
	.spinner-bottom {
		display: block;
		margin-top:0px;
		width: auto;
	}

}
.repos {
	margin: -10px 0 20px;
	
	li {
		display: inline-block;
		width: 23%;
	}
}
.earn-points {
	padding-top: 10px;
	margin: 0 0 0 40px;
}
.rewards-wrapper {
	margin-left: 20px;
}
.earn-points, .sidebar, #activities {
	h2 {
		font-size: 21px;
		color: @gray;
	}
	h1 {
		font-size: 23px;
		margin-bottom: 0px;
	}
}

//User profile -------------------------------//
.earn-points {
	

	.icon-check {
		font-size: 18px;
		line-height: 10px;
		color: @green;
		position: relative;
		top: -1pxpx;
	}
	.complete {
		color: @grayLight;
	}
	.twitter-accounts {
		margin-top: -5px;
	}

	.points-wrapper {
		padding: 0 10px 10px;
		
		> p:last-child, > ul {
			margin-bottom: 0;
		}
	}

	.points-wrapper h3 {
		margin: 0 -10px 10px;
	}
}




.toprated {
	font-size: @baseFontSize;
	height: auto;
	font-weight: normal;

		
	li {
		line-height:  @baseFontSize+2;
		border-bottom: 1px solid #eee;
		padding-top: 10px;

		&:first-child {
			padding-top: 0;
		}
		&:last-child {
			border-bottom: none;
		}
	
		a {
			color: @linkColor;
			display: block;
			float: left;
			width: 95%;
			padding-left: 10px;
			.border-box;
			margin-bottom: 10px;
			text-decoration: none;
			.ellipsis;
			
			&:hover {
				text-decoration: underline;
			}

		}
		.points {
			color: @black;
			display: block;
			float: left;
			width: 5%;
		}
	}
}

.sidebar .toprated {
	ul {
		margin-top: 20px;
	}
	li {
		padding-top: 0;
		border-bottom: none;
	}
}

#activities h1 {
	margin-bottom: 5px;
	margin-top: 0px;
}

h3.user-profile-header {
	margin-top: -10px;
	margin-bottom: 20px;
	.leaderboard {
		float: right;
		font-size: 60%;
	}
}
h4.username span.badge {
	float: left;
	margin-top: 3px;
	padding-left: 3px;
}

h4.username {
	margin-bottom: 2px;
}

.user-profile-wrapper {
	.avatar {
		img {
			box-sizing: border-box;
			width: 100%;
		}
	}
	hr {
		margin: 10px 0;
	}
	a.identity {
		display: block;
		margin-bottom: 5px;
		&:hover {
			text-decoration: none;
		}
	}
}

.user-profile-page {
	.twitter-profile-pic {
		display: none;
	}
	.events-group {
		margin: -10px 0 20px;
		.alert {
			margin-top: 10px;
		}
		.alert-info {
			background-color: #e9f8ff;
			text-align: center;
		}
	}

}