<h1 class="admin-page-header">Services</h1>
<hr>
<form role="form">
	<div class="clearfix services-wrapper">
		<div class="col-xs-3">
			<ul class="nav nav-pills nav-stacked nav-services">
				{{#each services}}
					<li {{#ifTab this}}class="active"{{/ifTab}} can-click="switchTab" data-tab="{{ this }}">
						<a href="javascript://">
							<i class="fa fa-check {{#isActiveProvider this}}active-service{{/isActiveProvider}}"></i> {{ . }}
						</a>
					</li>
				{{/each}}
			</ul>
		</div>

		<div class="col-xs-9">
			{{#if isReloading}}
				<h1><i class="fa fa-refresh fa-spin"></i></h1>
			{{else}}

				{{#ifTab 'twitter'}}
					<h3>Twitter</h3>
					{{#isActiveProvider provider}}
						<p>Your Twitter account is connected!</p>
					{{else}}
						<p>Connect your Twitter account.</p>
						<button class="btn btn-default" can-click="connectService" {{#isConnecting provider}}disabled{{/isConnecting}}>
							{{#isConnecting provider}}<i class="fa fa-refresh fa-spin"></i>{{/isConnecting}}
							Connect{{#isConnecting provider}}ing{{/isConnecting}} Twitter
						</button>
					{{/isActiveProvider}}
				{{/ifTab}}

				{{#ifTab 'github'}}
					<h3>GitHub</h3>
					{{#isActiveProvider provider}}
						<p>Your GitHub account is connected! Select repos and organizations you want to track:</p>
						<bh-multiselect title="Repos" items="identity.repos" selected-items="config.config.repos"></bh-multiselect>
						<bh-multiselect title="Organizations" items="identity.orgs" selected-items="config.config.orgs"></bh-multiselect>
					{{else}}
						<p>Connect your GitHub account and select repos you want to track.</p>
						<button class="btn btn-default" can-click="connectService" {{#isConnecting provider}}disabled{{/isConnecting}}>
							{{#isConnecting provider}}<i class="fa fa-refresh fa-spin"></i>{{/isConnecting}}
							Connect{{#isConnecting provider}}ing{{/isConnecting}} GitHub
						</button>
					{{/isActiveProvider}}
				{{/ifTab}}

				{{#ifTab 'facebook'}}
					<h3>FaceBook</h3>
					{{#isActiveProvider provider}}
						<p>Your Facebook account is connected! Select pages you want to track</p>
						<bh-multiselect title="Pages" items="identity.pages" selected-items="config.config.pages"></bh-multiselect>
					{{else}}
						<p>Connect your Facebook account and select pages you want to track.</p>
						<button class="btn btn-default" can-click="connectService" {{#isConnecting provider}}disabled{{/isConnecting}}>
							{{#isConnecting provider}}<i class="fa fa-refresh fa-spin"></i>{{/isConnecting}}
							Connect{{#isConnecting provider}}ing{{/isConnecting}} Facebook
						</button>
					{{/isActiveProvider}}
				{{/ifTab}}

				{{#ifTab 'disqus'}}
					<h3>Disqus</h3>
					{{#isActiveProvider provider}}
						<p>Your Disqus account is connected!</p>
						<bh-multiselect title="Forums" items="identity.forums" selected-items="config.config.forums"></bh-multiselect>
					{{else}}
						<p>Connect your Disqus account.</p>
						<button class="btn btn-default" can-click="connectService" {{#isConnecting provider}}disabled{{/isConnecting}}>
							{{#isConnecting provider}}<i class="fa fa-refresh fa-spin"></i>{{/isConnecting}}
							Connect{{#isConnecting provider}}ing{{/isConnecting}} Disqus
						</button>
					{{/isActiveProvider}}
				{{/ifTab}}

				{{#ifTab 'stackexchange'}}
					<h3>StackExchange</h3>
					{{#isActiveProvider provider}}
						<p>Your StackExchange account is connected!</p>
					{{else}}
						<p>Connect your StackExchange account.</p>
						<button class="btn btn-default" can-click="connectService" {{#isConnecting provider}}disabled{{/isConnecting}}>
							{{#isConnecting provider}}<i class="fa fa-refresh fa-spin"></i>{{/isConnecting}}
							Connect{{#isConnecting provider}}ing{{/isConnecting}} StackExchange
						</button>
					{{/isActiveProvider}}
				{{/ifTab}}

				{{#ifTab 'meetup'}}
					<h3>Meetup</h3>
					{{#isActiveProvider provider}}
						<p>Your Meetup account is connected!</p>
						<bh-multiselect title="Groups" items="identity.groups" selected-items="config.config.groups"></bh-multiselect>
					{{else}}
						<p>Connect your Meetup account.</p>
						<button class="btn btn-default" can-click="connectService" {{#isConnecting provider}}disabled{{/isConnecting}}>
							{{#isConnecting provider}}<i class="fa fa-refresh fa-spin"></i>{{/isConnecting}}
							Connect{{#isConnecting provider}}ing{{/isConnecting}} Meetup
						</button>
					{{/isActiveProvider}}
				{{/ifTab}}

				
			{{/if}}
		</div>

	</div>

	{{#if configsChanged}}
		<div class="row">
			<div class="col-xs-9 col-xs-offset-3">
				<button class="btn btn-primary" can-click="saveConfigs">Save Service Configurations</button>
			</div>
		</div>
	{{/if}}
	
</form>