<% can.each(items, function(item) { %>
<li>
<a href="<%= filterUrl({view: item.name}) %>" class="<%= item.name %> boxed item <%= isSelected(item) %>"><span class="glyph"></span><%= item.display_name %></a>
</li>  
<% }); %>
