<!-- LOGIN MODAL -->
<div id="login-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="login-modal-label">Login <small>... via these services</small></h3>
  </div>
  <div class="modal-body">
	<ul class="providers">
	  <li class="twitter"><a href="/api/auth/twitter" class="btn connect"><span class="login-twitter"></span> Twitter</a></li>
	  <li class="github"><a href="/api/auth/github" class="btn connect"><span class="login-github"></span> GitHub</a></li>
    <li class="meetup"><a href="/api/auth/meetup" class="btn connect"><span class="login-meetup"></span> Meetup</a></li>
    <li class="stackexchange"><a href="/api/auth/stackexchange" class="btn connect"><span class="login-stackexchange"></span> Stack Exchange</a></li>
	</ul>
  </div>
</div>

<!-- Modal -->
<div id="githubModal" class="modal hide fade">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="myModalLabel">Watch & Fork Us on GitHub <span class="badge">+10</span></h3> 
  </div>
  <div class="modal-body">
	<p>Get +10 for every account you watch or fork: <a href="https://github.com/bitovi">https://github.com/bitovi</a></p>
  </div>
</div>

<!-- Modal -->
<div id="swagModal" class="modal hide fade">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="myModalLabel">Redeeming Points</h3>
  </div>
  <div class="modal-body">
	<p>Soon you'll be able to redeem your points for swag! Your points will continue to accumulate during the beta period and then you can trade them in for awesome stuff when it's available. Stay tuned!</p>
  </div>
</div>

<!-- Modal -->
<div id="reportModal" class="modal hide fade">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="myModalLabel">Report a Bug <span class="badge">+50</span></h3> 
  </div>
  <div class="modal-body">
	<p>If you find a bug in one of our projects, post the issue with a breaking test case to GitHub. We'll flag your post as a bug, award you the points, and attach an award to it for anyone who can fix the bug.</p>
  </div>
</div>

<!-- Modal -->
<div id="bugModal" class="modal hide fade">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h3 id="myModalLabel">Fix a Bug <span class="badge">+100</span></h3> 
  </div>
  <div class="modal-body">
	<p>Look for posts with a green point badge next to the title. This indicates that points can be awarded for providing a solution to the issue. Post your solution in the same venue as the original post. If your solution is accepted, you'll earn those points!</p>
  </div>
</div>
