<ul class="digest-event-info unstyled">

  <li class="total followers">
	<a href="http://twitter.com/__actor__">__actor__</a> followed
	<span class="popup">
	  <a href="http://twitter.com/__profile__">@__profile__</a>
	  <div>
		<span class="people-caret"></span>
		<a href="http://twitter.com/__actor__">__actor__</a><br>
	  </div>
	</span>
  </li>

</ul>
