<ul class="digest-event-info unstyled">
  
  <!-- Followers -->
  {{#digest.followers}}
  <li class="total followers">
  	{{#ifequal value.length 1}}
	  {{#value}}
	    <a href="http://twitter.com/{{props.origin_author_name}}">{{props.origin_author_name}}</a> followed
	  {{/value}}
	{{else}}
	  {{value.length}} people followed
	{{/ifequal}}
	<span class="popup">
	  <a href="http://twitter.com/{{key}}">@{{key}}</a>
	  {{^ifequal value.length 1}}
	  <div>
		<span class="people-caret"></span>
	   	{{#value}}
		<a href="http://twitter.com/{{props.origin_author_name}}">{{props.origin_author_name}}</a><br>
		{{/value}}
	  </div>
	  {{/ifequal}}
	</span>
  </li>
  {{/digest.followers}}

  <!-- Watchers -->
  {{#digest.watchers}}
  <li class="total watchers">
  	{{#ifequal value.length 1}}
      {{#value}}
    	  <a href="http://github.com/{{props.origin_author_name}}">{{props.origin_author_name}}</a> started watching
	  {{/value}}
	{{else}}
	  {{value.length}} people started watching
	{{/ifequal}}
	<span class="popup">
	  <a href="http://github.com/bitovi/{{key}}">{{key}}</a>
	  {{^ifequal value.length 1}}
	  <div>
		<span class="people-caret"></span>
		{{#value}}
		<a href="http://github.com/{{props.origin_author_name}}">{{props.origin_author_name}}</a><br>
		{{/value}}
	  </div>
	  {{/ifequal}}
	</span>
  </li>
  {{/digest.watchers}}

  <!-- Forkers -->
  {{#digest.forkers}}
  <li class="total forkers">
  	{{#ifequal value.length 1}}
      {{#value}}
    	<a href="http://github.com/{{props.origin_author_name}}">{{props.origin_author_name}}</a> forked
	  {{/value}}
	{{else}}
	  {{value.length}} people forked
	{{/ifequal}}
	<span class="popup">
	  <a href="http://github.com/{{key}}">{{key}}</a>
	  {{^ifequal value.length 1}}
	  <div>
		<span class="people-caret"></span>
		{{#value}}
		<a href="http://github.com/{{props.origin_author_name}}">{{props.origin_author_name}}</a><br>
		{{/value}}
	  </div>
	  {{/ifequal}}
	</span>
  </li>
  {{/digest.forkers}}

</ul>
