<div class="event" {{data 'event'}}>
  {{#ifAdmin}}
  <div class="toolbar">
	<a href="#" class="delete-event close">&times;</a>
  </div>
  {{/ifAdmin}}

  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">{{upvotes}}</div>
	<div class="voteup "><span class="upvote-caret"></span>Vote up</div>	
	 <div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">

	<!-- title & body -->
	<div class="row">

	  <div class="twitter-profile-pic pull-left">
		<a href="https://twitter.com/{{props.origin_author_name}}"><img src="{{props.origin_author_avatar_url}}" alt="avatar" /></a>
	  </div>
	  
	  <h5>
		<a href="#">{{getAuthorName}}</a>
		<a href="http://twitter.com/{{props.origin_author_name}}"><small>@{{props.origin_author_name}}</small></a>
	  </h5>
	  <div class="body">{{{title}}}</div>
	  <div class="clearfix"></div>	  
	</div>
	
	<!-- status -->
	<div class="status row">
	  <div class="metadata-container pull-right">

		<div class="retweets-container pull-left">
		  <!--<img class='retweet-icon' src="/img/icon-retweet.png" />-->
		  {{#children}}
		  <a href='https://twitter.com/{{props.origin_author_name}}'><img class='profile-icon' src='{{props.origin_author_avatar_url}}'/></a>
		  {{/children}}
		</div>
		
		<div class="event-metadata pull-right">
		  <small>{{prettifyTs origin_ts format="datetime"}} via <strong><a href="{{url}}">{{feed}}</a></strong></small>
		</div>
	  </div>	  
	  <ul class="tag-list nav">
		{{#tags}}
		<li class="tag-name {{.}}"><a href="#"><small>{{.}}</small></a></li>	
		{{/tags}}
	  </ul>

	  <!-- ADMIN -->
	  {{#ifAdmin}}
	  <a href="#" class="expand-manage-bar"></a>
	  {{/ifAdmin}}
	  <!-- /ADMIN -->

	  <div class="clearfix"></div>
	</div>

	<!-- ADMIN -->
	{{#ifAdmin}}
	<div class="manage-bar row">
	  <ul class="nav">
		{{#projects}}
		<li data-tag="{{name}}" class="tag-action present_remove"><a href="#" ><small>{{name}}</small></a></li>
		{{/projects}}
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><small>{{category}}</small><b class="caret"></b></a>
		  <ul class="dropdown-menu">
			{{#categories}}
			<li class="category-action" data-category="{{name}}"><a href="#">{{name}}</a></li>
			{{/categories}}
		  </ul>
		</li>
	  </ul>
	  <!--<input type="text" class="transfer-ownership typeahead" placeholder="Transfer ownership">-->
	</div>
	{{/ifAdmin}}
	<!-- /ADMIN -->
	
  </div>

  <div class="clearfix"></div>
</div>


