<div class="event" {{data 'event'}}>
  {{#ifAdmin}}
  <div class="toolbar">
	<a href="#" class="delete-event close">&times;</a>
  </div>
  {{/ifAdmin}}

  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">{{upvotes}}</div>
	<div class="voteup "><span class="upvote-caret"></span>Vote up</div>	
	{{#if award_closed}}<div class="awarded">awarded</div>{{/if}}
	<div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">

	<!-- title & body -->
	<div class="row">
	  {{#if image_url}}<img src="{{image_url}}" class="thumb" alt="post image" >{{/if}}
	  <h5>
		<a href="{{getUrl}}">{{title}}</a>
		{{#if award_value}}<span class='badge'>+{{award_sum}}</span>{{/if}}
	  </h5>
	  <div class="body">{{{markdown body tags}}}</div>
	  <div class="clearfix"></div>	  
	</div>
	
	<!-- status -->
	<div class="status row">
	  <div class="metadata-container pull-right">
		<div class="event-metadata pull-right">
		  <small>{{#if getAuthorName }}<a href="#">{{getAuthorName}}</a> /{{/if}} {{prettifyTs origin_ts format="datetime"}} via <strong><a href="{{url}}">{{feed}}</a></strong></small>
		</div>
	  </div>
	  {{#if children.length }}
	  <a class="expand-replies"><span class="icon"></span>Earlier ({{children.length}})</a>
	  {{/if}}
	  <ul class="tag-list nav">
		{{#tags}}
		<li class="tag-name {{.}}"><a href="#"><small>{{.}}</small></a></li>	
		{{/tags}}
	  </ul>

	  <!-- ADMIN -->
	  {{#ifAdmin}}
	  <a href="#" class="expand-manage-bar"></a>
	  {{/ifAdmin}}
	  <!-- /ADMIN -->

	  <div class="clearfix"></div>
	</div>

	<!-- ADMIN -->
	{{#ifAdmin}}
	<div class="manage-bar row">
	  <ul class="nav">
		{{#projects}}
		<li data-tag="{{name}}" class="tag-action present_remove"><a href="#" ><small>{{name}}</small></a></li>
		{{/projects}}
		<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><small>{{category}}</small><b class="caret"></b></a>
		  <ul class="dropdown-menu">
			{{#categories}}
			<li class="category-action" data-category="{{name}}"><a href="#">{{name}}</a></li>
			{{/categories}}
		  </ul>
		</li>
	  </ul>
	  <!--<input type="text" class="transfer-ownership typeahead" placeholder="Transfer ownership">-->
	</div>
	{{/ifAdmin}}
	<!-- /ADMIN -->

	{{#if children.length}}
      {{> eventChildrenPartial}}
    {{/if}}

  </div>

  
  <div class="clearfix"></div>
</div>


