<div class="event" {{data 'event'}}>
  <div class="toolbar"></div>

  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">{{upvotes}}</div>
	<div class="voteup "><span class="upvote-caret"></span>Vote up</div>	
	<div class="clearfix"></div>
  </div>

  <!-- content -->
  <div class="span7 content">

	<!-- title & body -->
	<div class="row">
	  <h5>
		<a {{#if url}}href="{{url}}"{{/if}}>{{title}}</a>
		{{#if award}}<span class='badge'>+{{award_sum}}</span>{{/if}}
	  </h5>
	  <div class="body">{{{body}}}</div>
	  <div class="clearfix"></div>	  
	</div>
	
	<!-- status -->
	<div class="status row">
	  <div class="metadata-container pull-right">
		<div class="event-metadata pull-right">
		  <small><a href="#">{{getAuthorName}}</a> / {{origin_ts}} via <strong><a href="{{url}}">{{feed}}</a></strong></small>
		</div>
	  </div>
	  {{#if children.length }}
	  <a class="expand-replies"><span class="icon"></span>Earlier ({{children.length}})</a>
	  {{/if}}
	  <ul class="tag-list nav">
		{{#tags}}
		<li class="tag-name {{.}}"><a href="#"><small>{{.}}</small></a></li>	
		{{/tags}}
	  </ul>
	  <div class="clearfix"></div>
	</div>

	{{#if children.length}}
      {{>events/_event_children.mustache}}
    {{/if}}

  </div>

  
  <div class="clearfix"></div>
</div>


