<div class="replies row">
  <span class="replies-caret"></span>
  {{#children}}
  <div class="reply-event row"  {{data 'event'}}>
	{{#if props.awarded}}<div class="awarded-badge"></div>{{/if}}	  
	{{^if award_closed}}<div class="award-btn"><a href="#"><span class="caret"></span>Award</a></div>{{/if}}
	
	<div class="votes">
	  <div class="uparrow"></div>
	  <div class="count">{{upvotes}}</div>
	</div>
	<div class="body reply">
	  {{#if body}}
	    {{{markdown body tags}}}
	  {{else}}
	    {{title}}
	  {{/of}}
	  <div class="event-metadata pull-right">
		<a href="#">{{getAuthorName}}</a> / {{prettifyTs origin_ts format="datetime"}}
	  </div>
	</div>
  </div>
  {{/children}}
</div>
