<div id="events-list">

  <div class="spinner"><img src="/assets/images/ajax-loader.gif" alt="loading..."></div>

  <div class="events-container">
  
  {{#isLatest partial}}
    {{> latestView }}
  {{/isLatest}}
  
  {{#isGreatest partial}}
    {{> greatestView }}
  {{/isGreatest}}

  <div class="spinnerBottom"><img src="/assets/images/ajax-loader.gif" alt="loading..."></div>

  </div>  

</div>
