{{#data}}
<div class="day">

  <div class="sep-wrapper wrapper" style="height: 42px;">
	<div class="sep blue">
	  <h4 class="flag blue">{{humanizeDate key}}</h4>
	</div>
  </div>

  {{#value}}
  
	{{#if digest}}
    <div class="category-digest">
	  <h3>Digest</h3>
	  <div class="truncated">
	    {{#digest}}
	    {{>events/_event.mustache}}
	    {{/digest}}
	  </div>
    </div>
	{{/if}}

	{{#if twitter}}
    <div class="category-twitter">
	  <h3 class="twitter-icon">Twitter</h3>
	  <div class="truncated">
	    {{#twitter}}
	    {{>events/_event_twitter.mustache}}
	    {{/twitter}}
	  </div>
    </div>
    {{/if}}
	
	{{#if bug}}
    <div class="category-bug">
	  <h3 class="bugs-icon">Bugs</h3>
	  <div class="truncated">
	    {{#bug}}
	    {{>events/_event.mustache}}
	    {{/bug}}
	  </div>
    </div>
	{{/if}}
	
	{{#if comment}}
    <div class="category-comment">
	  <h3 class="comments-icon">Comments</h3>
	  <div class="truncated">
	    {{#comment}}
	    {{>events/_event.mustache}}
	    {{/comment}}
	  </div>
    </div>
	{{/if}}

	{{#if feature}}
    <div class="category-feature">
	  <h3 class="features-icon">Features</h3>
	  <div class="truncated">
	    {{#feature}}
	    {{>events/_event.mustache}}
	    {{/feature}}
	  </div>
    </div>
	{{/if}}

	{{#if question}}
    <div class="category-question">
	  <h3 class="questions-icon">Questions</h3>
	  <div class="truncated">
	    {{#question}}
	    {{>events/_event.mustache}}
	    {{/question}}
	  </div>
    </div>
	{{/if}}

	{{#if article}}
    <div class="category-article">
	  <h3 class="articles-icon">Articles</h3>
	  <div class="truncated">
	    {{#article}}
	    {{>events/_event.mustache}}
	    {{/article}}
	  </div>
    </div>
	{{/if}}

	{{#if plugin}}
    <div class="category-plugin">
	  <h3 class="plugins-icon">Plugins</h3>
	  <div class="truncated">
	    {{#plugin}}
	    {{>events/_event.mustache}}
	    {{/plugin}}
	  </div>
    </div>
	{{/if}}

	{{#if app}}
    <div class="category-app">
	  <h3 class="apps-icon">Apps</h3>
	  <div class="truncated">
	    {{#app}}
	    {{>events/_event.mustache}}
	    {{/app}}
	  </div>
    </div>
	{{/if}}

	{{#if code}}
    <div class="category-code">
	  <h3 class="code-icon">Code</h3>
	  <div class="truncated">
	    {{#code}}
	    {{>events/_event_code.mustache}}
	    {{/code}}
	  </div>
    </div>
	{{/if}}

	<div class="feed-header">
	  <h3 class="irc-icon">Chat <a class="pull-right" href="http://webchat.freenode.net/?channels=canjs"><img src="./assets/images/icon-popout.png" alt="popout"></a></h3>
	</div>
	<div class="truncated irc-chat-container">
	  {{#chat}}
	  <div><span class="username">{{actor}}</span>: {{title}}</div>
	  {{/chat}}
	</div>
	
  {{/value}}
  
</div>
{{/data}}
