<div class="container">
	<div class="row">
	<div class="span8 newpost-form">

		{{#currentEvent}}
			<bh-postform event="this"></bh-postform>
		{{/currentEvent}}

	</div>

	<div class="span4 newpost-sidebar">
		<button id="hide-newpost-form-btn" class="close">&times;</button>

		<h4 class="submit-your-app">Submit Your App, <br />Plugin, or Article <span class="badge">+2 +votes</span></h4>
		<p>Earn points by sharing something you built, wrote, or found that would be useful to the community. You get <span class="badge">+2</span> points for sharing plus points for every vote from the community.</p>

		<hr>
		
		<h4>Need Help?</h4>
		<p>If you're looking for help with any of our open source projects, head on over to our <a href="http://forum.javascriptmvc.com">forums</a> and post your question there.</p>
		
	</div>
	</div>
</div>
