<div class="container">
  <div class="row">
	<div class="span8 newpost-form">

	  <form id="newpost-form" class="form-horizontal" action="/api/events" method="post" enctype="multipart/form-data" accept-charset="UTF-8">

		<fieldset>
		  <div class="row">
			<input type="hidden" name="event[feed]" value="bithub"/>
			{{#isOfEventContentType}}
			<input type="hidden" name="event[datetime]" value="{{currentDateTimeStamp}}"/>
			{{/isOfEventContentType}}

			<div class="span left">
			  <div class="image-uploader">
				<span>Add An <br>Image</span>
				<div class="image-preview"></div>
				<div class="progress hidden">
				  <div class="bar" style="width: 0%;"></div>
				</div>
				<input type="file" name="event[image]" size="1"/>
			  </div>

			  <div class="control-group" id="newpost-form-project">
				<p class="text-error hidden"></p>
				<select  name="event[project]" value="{{project}}">
				  <option value="">Pick a project</option>
				  {{#projects}}
				  <option value="{{name}}">{{display_name}}</option>
				  {{/projects}}
				</select>
			  </div>

			  <div class="control-group" style="margin-left: 0px;" id="newpost-form-category">
				<p class="text-error hidden"></p>
				<select name="event[category]" value="{{category}}">
				  <option value="">Pick a category</option>
				  {{#categoryFilter categories}}
				  <option value="{{name}}">{{display_name}}</option>
				  {{/categories}}
				</select>
			  </div>
			  
			  {{#isOfEventContentType}}
			  <div class="btn-group control-group date" id="newpost-form-date" style="margin-left: 0px;">
				<div class="input-append date newpost-datepicker" {{ datepicker }}>
				  <input class="span2" type="text" value="{{today}}" readonly>
				  <span class="add-on"><i class="icon-calendar"></i></span>
				</div>
			  </div>

			  <div class="btn-group control-group time" id="newpost-form-time" style="margin-left: 0px;">
				<p class="text-error hidden"></p>
				<div class="input-append time newpost-timepicker">
				  <input class="span2" type="text" placeholder="12:30 PM">
				  <span class="add-on"><i class="icon-time"></i></span>
				</div>
			  </div>
			  {{/isOfEventContentType}}

			</div>

			<div class="span right">

			  <div class="control-group title" id="newpost-form-title">
				<p class="text-error hidden"></p>
				<input name="event[title]" type="text" class="title span3" data-toggle="toggle" placeholder="Title:"/>
			  </div>

			  <div class="control-group url" id="newpost-form-url">
				<p class="text-error hidden"></p>
				<input name="event[url]" type="text" class="url span3" placeholder="URL:"/>
			  </div>
			  
			  {{#isOfEventContentType}}
			  <div class="control-group location" id="newpost-form-location">
				<input name="event[location]" type="text" class="url span3" placeholder="Location:"/>
			  </div>
			  {{/isOfEventContentType}}

			  <div class="control-group body" id="newpost-form-body">
				<p class="text-error hidden"></p>
				<textarea name="event[body]" rows="6" class="body span5" placeholder="Write something:"></textarea>
			  </div>

			  {{#ifAdmin currentUser}}
			  <div class="control-group post-as" id="newpost-form-post-as">
				<p class="text-error hidden"></p>
				<label style="float: left; width: 50px;">
				  <input type="radio" name="postas_feed" value="github" checked/>GH
				</label>
				<label style="float: left; width: 50px;">
				  <input type="radio" name="postas_feed" value="twitter"/>TW
				</label>
				<input name="postas" type="text" class="title span1 typeahead" data-toggle="toggle" placeholder="Post as:" {{typeahead}}/>
				<input name="event[origin_author_feed]" type="hidden" class="postas_feed" value=""/>
				<input name="event[origin_author_id]" type="hidden" class="postas_id" value=""/>
				<img class="postas avatar float-right" src="" alt="" />
			  </div>
			  {{/ifAdmin}}

			  <div class="control-group">
				<button id="newpost-form-submit" type="submit" class="btn-bigass light">Submit</button>
			  </div>
			</div>

		  </div>
		</fieldset>
	  </form>

	</div>

	<div class="span4 newpost-sidebar">
	  <button id="hide-newpost-form-btn" class="close">&times;</button>

	  <h4 class="submit-your-app">Submit Your App, <br />Plugin, or Article <span class="badge">+2 +votes</span></h4>
	  <p>Earn points by sharing something you built, wrote, or found that would be useful to the community. You get <span class="badge">+2</span> points for sharing plus points for every vote from the community.</p>

	  <hr>
	  
	  <h4>Need Help?</h4>
	  <p>If you're looking for help with any of our open source projects, head on over to our <a href="http://forum.javascriptmvc.com">forums</a> and post your question there.</p>
	  
	</div>
  </div>
</div>
