<li class="dropdown {{#if cssClass}}{{cssClass}}{{/if}}" {{#if htmlId}}id="{{htmlId}}"{{/if}}>
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
	{{#defaultOption}}
	<span class="title">{{display_name}}</span>
	{{/defaultOption}}
	<b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
	{{#defaultOption}}
	<li><a href="#" {{data 'item'}} class="item">{{display_name}}</a></li>
	{{/defaultOption}}
	{{#items}}
	<li><a href="#" {{data 'item'}} class="item">{{display_name}}</a></li>	
	{{/items}}
  </ul>
</li>
