{{#if user.isAdmin}}
	<div class="manage-bar row">
		<ul class="nav">
			{{#data.projects}}
				<li data-tag="{{ name }}" class="tag-action present_remove">
					<a href="javascript://" ><small>{{ name }}</small></a>
				</li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<small>{{ category }}</small><b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						{{#categories}}
							<li class="category-action" data-category="{{ name }}">
								<a href="javascript://">{{ name }}</a>
							</li>
						{{/categories}}
					</ul>
				</li>
			{{/data}}
		</ul>
		<input type="text" class="transfer-ownership typeahead" placeholder="Transfer ownership">
	</div>
{{/if}}