<div class="span12">
	<h3>Achievements</h3>
	<div class="nav nav-tabs">
		<li {{#isCurrentFilter 'achieved-complete'}}class="active"{{/isCurrentFilter}}>
			<a href="{{filterUrl 'achieved-complete'}}">Achieved (Complete profile)</a>
		</li>
		<li {{#isCurrentFilter 'achieved-incomplete'}}class="active"{{/isCurrentFilter}}>
			<a href="{{filterUrl 'achieved-incomplete'}}">Achieved (Incomplete profile)</a>
		</li>
		<li {{#isCurrentFilter 'shipped'}}class="active"{{/isCurrentFilter}}>
			<a href="{{filterUrl 'shipped'}}">Shipped</a>
		</li>
	</div>

	{{#if loading}}
		Loading ...
	{{ else }}
		<admin-pagination count="count" params="params"></admin-pagination>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>User</th>
					<th>Address</th>
					<th>Reward</th>
					<th>Achieved</th>
					<th>Shipped</th>
					<th style="width: 100px"></th>
				</tr>
			</thead>
			<tbody>
				{{#achievements}}
				<tr {{data 'achievement'}}>
					<td>
						{{user.name}}{{#shipped_at}}<span class="badge">&nbsp;&nbsp;SHIPPED</span>{{/shipped_at}}<br>
						<a href="mailto:{{user.email}}">{{user.email}}</a>
					</td>
					<td>
						{{user.address}}<br>
						{{user.city}} {{user.state}} {{user.postal}}<br>
						{{user.country.name}}
					</td>
					<td>{{reward.title}}</td>
					<td>{{formatTs achieved_at}}</td>
					<td><input name="shipped_at" type="text" value="{{formatTs shipped_at}}" {{datepicker}} /></td>
					<td>
						<button class="btn btn-primary save">{{#if saving}}Saving{{else}}Save{{/if}}</button>
					</td>
				</tr>
				{{/achievements}}
			</tbody>
		</table>
		<admin-pagination count="count" params="params"></admin-pagination>
	{{/if}}
</div>