<h4>Leaderboard</h4>

<ul class="unstyled">
  {{#loop users length=topLength}}
  <li class="{{isLoggedin}}">
	<span class="position">#{{__index}}</span>
	{{#avatar_url}}<img class="avatar" src="{{.}}?size=22" alt="avatar">{{/avatar_url}}
	{{name}}
	<span class="points pull-right">{{score}}</span>
  </li>
  {{/loop}}
</ul>

{{#if breakAt}}
  <ul class="unstyled"><li class="lightning-divider"></li></ul>

  <ul class="unstyled">
	{{#loop users begin=breakAt length=3}}
	<li class="{{isLoggedin}}">
	  <span class="position">#{{__index}}</span>
	  {{#avatar_url}}<img class="avatar" src="{{.}}?size=22" alt="avatar">{{/avatar_url}}
	  {{name}}
	  <span class="points pull-right">{{score}}</span>
	</li>
	{{/loop}}  
  </ul>

{{/if}}
