<div class="leaderboard-wrap">
    <h3>
        Leaderboard
        <label class="leaderboard-admins"><input type="checkbox" class="include-admins"> Include admins</label>
    </h3>

    <ul class="unstyled">
        {{#each users}}
            <li class="clearfix">
                <span class="position pull-left">#{{calcIndex @index}}</span>
                {{#avatarUrl}}<img class="avatar pull-left" src="{{.}}?size=22" alt="avatar" {{ imgErrorHandler }}>{{/avatarUrl}}
            <span class="leaderboard-name pull-left">
                <a href="/user_profile/{{id}}">{{name}}</a>
            </span>
            <span class="points pull-right">{{score}}</span>
            </li>
        {{/each}}
    </ul>
</div>
