<!-- upvotes -->
<div class="span1 votes">
  <div class="uparrow"></div>
  <div class="count">
	<%= event.attr('upvotes') %>
  </div>

  <div class="voteup-btn">
	<span class="upvote-caret"></span>
	<span class="caption"><% if( isUpvoted(event.attr('id'), user.attr('upvoted_events')) ) { %>Voted<% } else { %>Vote up<% } %></span>
  </div>

  <% if ( (typeof(award) != "undefined") && award ) { %>
  <% if (!event.attr('props.thread_awarded') && user.isLoggedIn() && user.isAdmin()) { %>
  <div class="award-btn">
	<div class="word"><span>Award</span></div>
	<div class="caret-right"></div>
	<div class="clearfix"></div>
  </div>
  <% } %>
  <% } %>
  
  <div class="clearfix"></div>
</div>
