<div class="replies row">
  <span class="replies-caret"></span>
  <% list(events, function( event ) { %>

  <% if( event.attr('tags').indexOf('push_event') >= 0 ) { %>

  <% list(event.attr('children'), function( event ) { %>
  <%== partials.eventChildEvent.render( can.extend({event: event, data: data, type: 'commit'}, this)); %>
  <% }) %>
  
  <% } else if( event.attr('tags').indexOf('pull_request_event') >= 0 ) { %>
  
  <%== partials.eventChildEvent.render( can.extend({event: event, data: data, type: 'pull_request'}, this)); %>

  <% } else { %>

  <%== partials.eventChildEvent.render( can.extend({event: event, data: data, type: ''}, this)); %>

  <% } %>

  <% }) %>
</div> <!-- /.replies -->
