<div>
<%== each( greatestEvents, function( event ) { %>
<%== eventPartial.render({event: event, determineEventPartial: determineEventPartial, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'upvotes'}) %>
<% }) %>
</div>
