<div>
<%== each( greatestEvents, function( event ) { %>
<%== determineEventPartial(event.attr('tags')).render({event: event, eventChildrenPartial: eventChildrenPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'upvotes', date: null}) %>
<% }) %>
</div>
