<div id="timespan-filter"></div>
<div id="issue-state-filter"></div>

<div class="event-list-container" class="span8 left-content">

	<div class="spinner-top">
		<img src="/assets/images/ajax-loader-sm-blue.gif" alt="loading...">
	</div>

	<div class="event-list">
		<% if (partial() === 'latest') { %>
			<%== latestView.render(this) %>
		<% } else { %>
			<%== greatestView.render(this) %>
		<% } %>

		<div class="spinner-bottom">
			<img src="/assets/images/ajax-loader-sm-blue.gif" alt="loading...">
		</div>

		<% if( !canLoad() ) { %>
			<div class="noMoreContent">... that's all there is ...</div>
		<% } %>
	</div>  

</div>
