<div class="events-group">
	{{#data.eventList}}
		<div class="day">

			{{#if hasEvents}}
				<div class="sep-wrapper wrapper" style="height: 42px;">
					<div class="sep blue">
					<h4 class="flag blue">
						{{#when stopDate}}{{ prettifyTs stopDate "date" }} - {{/when}}
						{{ prettifyTs date "date" }}
						</h4>
					</div>
				</div>
			{{/if}}

			{{#when hasDigest}}
				<bh-digest-list digest="digest"></bh-digest-list>
			{{/when}}

			{{#dailyCategories}}
				<div class="category-{{ currentCategory }}">
					{{^hasCategoryFilter}}
						<h3 class="section-title"><i class="icon-{{ currentCategory }}"></i>{{ currentCategory }}</h3>
					{{/hasCategoryFilter}}
					{{{ entityComponent events date }}}
				</div>
			{{/dailyCategories}}

			{{#when types.code}}
				<div class="category-code">
					{{^hasCategoryFilter}}
						<h3 class="section-title"><i class="icon-code"></i>Code</h3>
					{{/hasCategoryFilter}}
					<bh-code events="code" currentdate="date"></bh-code>
				</div>
			{{/when}}

			{{#when types.chat}}
				<bh-chat messages="types.chat"></bh-chat>
			{{/when}}
			
		</div>
	{{/data.eventList}}
</div>