<div class="navbar">
  <div class="row">
	<div class="span12">
	  <ul class="nav">
		<li><a>My Account:</a></li>
		<li><a href="{{profileRoute}}">Profile</a></li>
		<li><a href="{{activityListRoute}}">Points &amp; Activity</a></li>
	  </ul>
	</div>
  </div>
</div>

