<div class="navbar">
  <div class="row">
	<div class="span12">
	  <ul class="nav">
		<li><a>My Account:</a></li>
		<li>{{{links.info}}}</li>
		<li>{{{links.activities}}}</li>
	  </ul>
	</div>
  </div>
</div>

