{{#isProfilePage}}
<div class="subnav-wrapper">
<div class="container">
	  <ul class="subnav">
		<li class="account">Your Account:</li>
		<li><a href="{{{routes.earnpoints}}}">Earn Points</a></li>
		<li><a href="{{{routes.swag}}}">Get Swag</a></li>
		<li><a href="{{{routes.activities}}}">Activity History</a></li>
		<li><a href="{{{routes.info}}}">Edit Profile</a></li>
	  </ul>
</div>
</div>
{{/isProfilePage}}