{{#isProfilePage}}
<div class="subnav-wrapper">
<div class="container">
	  <ul class="subnav">
		<li class="account">Your Account:</li>
		<li><a href="{{{routes.earnpoints}}}" class="{{isActive "earnpoints"}}">Earn Points</a></li>
		<li><a href="{{{routes.swag}}}" class="{{isActive "swag"}}">Get Swag</a></li>
		<li><a href="{{{routes.activities}}}" class="{{isActive "activities"}}">Activity History</a></li>
		<li><a href="{{{routes.info}}}" class="{{isActive "info"}}">Edit Profile</a></li>
	  </ul>
</div>
</div>
{{/isProfilePage}}