{{#if inited}}
	{{#event}}
		<div class="event list-element {{#isEventUpvoted this}}upvoted{{/isEventUpvoted}} clearfix" {{ data 'eventObj'}}>

			{{{ renderToolbar }}}
			{{{ renderUpvote this true }}}

			<div class="span7 content clearfix">

				<div class="row {{#if image_url}}has-image{{/if}}">
					{{{img image_url "Thumb" "thumb"}}}
	
					<div class="title-body-wrap">
						<h5 class="title clearfix">
							<a href="{{eventUrl this}}">{{{v title }}}</a>
						</h5>
						<div class="location-time">
							{{v props.location }} / {{ prettifyTs props.scheduled_for 'datetime'}}
						</div>
						<div class="body">{{{v body }}}</div>
					</div>

					
				</div>

				{{{ renderStatusBar this }}}
				
			</div>

		</div>
	{{/event}}
{{/if}}