{{#inited}}
	{{#event}}
		<div class="event list-element {{#isEventUpvoted this}}upvoted{{/isEventUpvoted}} clearfix" {{ data 'eventObj'}}>

			{{{ renderToolbar }}}
			{{{ renderUpvote this true }}}

			<div class="span7 content clearfix">

				<div class="row">
					{{{img image_url "Thumb" "thumb"}}}
					<h5 class="title">
						<a href="{{eventUrl this}}">{{{v title }}}</a>
					</h5>
					<div class="location-time">
						{{v props.location }} / {{ prettifyTs props.scheduled_for 'datetime'}}
					</div>
					<div class="body">{{{v body }}}</div>
				</div>

				{{{ renderStatusBar this }}}
				{{{ renderManageBar }}}
				
			</div>

		</div>
	{{/event}}
{{/inited}}