{{#event}}
	<div class="event list-element {{#isEventUpvoted this}}upvoted{{/isEventUpvoted}} clearfix" {{ data 'eventObj'}}>

		<bh-toolbar user="user"></bh-toolbar>
		<bh-upvote event="this" user="user" award="true"></bh-upvote>

		<div class="span7 content clearfix">

			<div class="row">
				{{#if image_url}}
					<img class="thumb" {{#image_url}}src="{{ . }}"{{/image_url}} alt="Thumb" />
				{{/if}}
				<h5 class="title">
					<a href="{{eventUrl this}}">{{{ title }}}</a>
				</h5>
				<div class="location-time">
					{{ props.location }} / {{ prettifyTs props.scheduled_for 'datetime'}}
				</div>
				<div class="body">{{{ body }}}</div>
			</div>

			<bh-status-bar event="event" user="user" currentdate="currentdate" expanded="childrenExpanded"></bh-status-bar>
			<bh-manage-bar event="this" data="data" user="user"></bh-manage-bar>
			
		</div>

	</div>
{{/event}}