<!-- EVENTS LIST -->
<div id="events" class="span8 left-content"></div>
<!-- /EVENTS LIST -->

<div id="other-stuff" class="span4">
  <div class="sidebar">

	<!--  SIDEBAR -->		
	{{#if user.loggedIn}}
	
	<div id="sidebar-scorings" class="scorings">
	  <h4>Earn More Points</h4>
	  <ul class="well">
		<li>Follow us on <a id="twitter-modal-btn" href="#twitterModal">Twitter</a> <span class="badge">+4</span></li>
		<li>Watch us on <a href="#githubModal" data-toggle="modal">GitHub</a> <span class="badge">+10</span></li>
		<li><a href="#reportModal" data-toggle="modal">Report</a> <span class="badge">+50</span> or <a href="#bugModal" data-toggle="modal">fix</a> <span class="badge">+100</span> a bug </li>
		<li><a href="#" id="show-new-post-form-btn">Post an article or plugin</a> <span class="badge">+50</span></li>
	  </ul>
	  <h4>Free Stuff</h4>
	  <ul class="free-stuff">
		<li class="well"><a class="icon-stickers" href="#swagModal" role="button" data-toggle="modal">Stickers</a></li>
		<li class="well"><a class="icon-mugs" href="#swagModal" role="button" data-toggle="modal">Mugs</a></li>
		<li class="well"><a class="icon-shirts" href="#swagModal" role="button" data-toggle="modal">Shirts</a></li>
	  </ul>
	</div>

	{{else}}
	
	<div id="sidebar-scorings" class="scorings">
	  <h4 class="handwriting leftalign"><span class="leftarrow">&darr;</span> Earn Points</h4>
	  <ul  class="well">
		<li>Login &amp; create an account <span class="badge">+1</span></li>
		<li>Follow us on Twitter <span class="badge">+4</span></li>
		<li>Watch us on GitHub <span class="badge">+10</span></li>
	  </ul>
	</div>
	
	<div id="sidebar-awards" class="awards">
	  <h4 class="handwriting rightalign">Get Free Stuff <span class="rightarrow"></span></h4>
	  <ul class="free-stuff">
		<li class="well"><a class="icon-stickers" href="#swagModal" role="button" data-toggle="modal">Stickers</a></li>
		<li class="well"><a class="icon-mugs" href="#swagModal" role="button" data-toggle="modal">Mugs</a></li>
		<li class="well"><a class="icon-shirts" href="#swagModal" role="button" data-toggle="modal">Shirts</a></li>
	  </ul>
	  
	  <div class="btn-wrapper"><button href="#login-modal" role="button" data-toggle="modal" class="btn-signup">Sign Up Now</button></div>
	</div>
	
	{{/if}}
	<!--  /SIDEBAR -->		
	
	<!-- LEADERBOARD -->
	<div id="leaderboard" class="leaderboard"></div>
	<!-- /LEADERBOARD -->				
  </div>
</div>
