<!-- EVENTS LIST -->
<div id="events" class="span8 left-content">123</div>
<!-- /EVENTS LIST -->

<!-- SIDEBAR -->
<div id="other-stuff" class="span4">
  <div class="sidebar">				
	<!-- LEADERBOARD -->
	<div id="leaderboard" class="leaderboard"></div>
	<!-- /LEADERBOARD -->				
  </div>
</div>
<!-- /SIDEBAR -->
