<div id="events-list">

  <% for (day in days) { %>
  <div class="day">
    <h2><%= day %></h2>
	
	<% for (category in days[day]) { %>
	<div class="category-<%= category%>">
	  <h3><%= category %></h3>
	  
	  <div class="truncated">
		<% days[day][category].map(function(event) { %>
		<%== can.view.render('events/event.ejs', {event: event}) %>
		<% }) %>
	  </div>
	  
	</div>
	<% } %>
	
  </div>
  <% } %>
  
</div>
