<div class="jumbotron clearfix">
	<div class="col-xs-8">
		<h1>BitHub</h1>
		<p>Gamifiaction engine for brands!</p>
		<p><button class="btn btn-primary">Learn more about the Bithub &raquo;</button></p>
	</div>
	
	<div class="col-xs-4">
		<div class="panel panel-default connect-panel">

			<div class="panel-heading">Login with on of these and start your trial:</div>
			<div class="connectors">
				<button class="btn btn-primary">
					<i class="fa fa-facebook-square"></i>
				</button>
				<button class="btn btn-primary">
					<i class="fa fa-twitter-square"></i>
				</button>
				<button class="btn btn-primary">
					<i class="fa fa-google-plus-square"></i>
				</button>
			</div>
			
		</div>
	</div>
</div>
