<div class="status row clearfix">
	<div class="metadata-container">
		<div class="event-metadata pull-right">
			<small>
			{{ event.authorName }}
			{{ prettifyTs event.origin_ts dateFormat }}
			via <strong><a href="{{ event.url }}">{{ event.feed }}</a></strong></small>
		</div>
	</div>
	
	{{#if event.children.length}}
		<a class="expand-replies" can-click="toggleChildren">
			<span class="icon {{#if expanded}}collapse{{/if}}"></span>Earlier ({{ event.children.length}})
		</a>
	{{/if}}
	
	<bh-tags tags="event.tags"></bh-tags>

	{{#if user.isAdmin}}
		<a href="#" class="expand-manage-bar"></a>
	{{/if}}

</div>
