<div class="sidebar">

  {{#if user.loggedInDelayed}} 
  <div clss="scorings logged-in">
	<h4>Earn More Points</h4>
	<div  class="well">
	  <ul>
		{{#accomplishments.profile}}
		{{^if twitter}}<li><a href="" id="connect-twitter">Connect your Twitter account</a></li>{{/if}}
		{{^if github}}<li><a href="" id="connect-github">Connect your GitHub account</a></li>{{/if}}
		{{^if completed}}<li><a href="/profile">Complete your profile</a></li>{{/if}}
		{{/accomplishments.profile}}

		{{#pickUndone accomplishments.githubWatch}}
		<li><a href="http://github.com/bitovi/{{picked}}">Watch {{picked}} on GitHub</a></li>
		{{/pickUndone}}
		
		{{#pickUndone accomplishments.twitterFollow}}
		<li><a href="http://twitter.com/{{picked}}">Follow {{picked}} on Twitter</a></li>
		{{/pickUndone}}
	  </ul>

	  <p>
		Get points and votes for content you post, bug fixes, for sharing your apps or plugins and for attending events. <a href="{{routes.earnpoints}}">Details &raquo;</a>
	  </p>
	</div>
  </div>

  <div class="awards free-stuff logged-in">
	<h4>Rewards</h4>
	<div class="rewards">
	  {{#iterRewards}}
	  <a href="{{{rewardsUrl}}}" class="item {{reward.status_cssClass}}" {{#reward.thumbUrl}}style="background-image: url({{.}})"{{/reward.thumbUrl}}>
		<span class="points">{{#if reward.display_point_minimum}}{{reward.display_point_minimum}}{{else}}{{reward.point_minimum}}{{/if}}</span>
		{{#if reward.status_message}}<span class="message">{{ reward.status_message }}</span>{{/if}}
	  </a>
	  {{/iterRewards}}
	</div>
  </div>
  
  {{else}}
  
  <a href="/earnpoints" class="scorings logged-out">
	<h4 class="handwriting leftalign"><span class="leftarrow">&darr;</span> Earn Points</h4>
	<div class="well">
	  <ul class="">
		<li>Login &amp; create an account <span class="badge">+1</span></li>
		<li>Follow us on Twitter/Github <span class="badge">+1 each</span></li>
		<li>Post content & get votes <span class="badge">+2 + votes</span></li>
	  </ul>
	  <p>Get points for content, bug fixes, and sharing your apps or plugins.</p>
	</div>
  </a>

  <div class="awards free-stuff logged-out">
	<h4 class="handwriting rightalign"><a href="/rewards">Get Free Stuff <span class="rightarrow"></span></a></h4>
	<div class="rewards">
	  {{#iterRewards}}
	  <a href="{{{rewardsUrl}}}" class="item" {{#reward.thumbUrl}}style="background-image: url({{.}})"{{/reward.thumbUrl}}>
		<span class="points">{{#if reward.display_point_minimum}}{{reward.display_point_minimum}}{{else}}{{reward.point_minimum}}{{/if}}</span>
	  </a>
	  {{/iterRewards}}
	</div>

	<div class="btn-wrapper logged-out"><button href="#login-modal" role="button" data-toggle="modal" class="btn-signup">Sign Up Now</button></div>
  </div>
  {{/if}}

  <div id="leaderboard" class="leaderboard logged-out logged-in"></div>

  {{#if meetups.length}}
		<div class="visit-meetups">
			<h4>Upcoming Events</h4>
			<div>
				<ul class="unstyled">
					{{#meetups}}
						<li class="clearfix">
							<a href="{{url}}">
								<span class="event-date-wrap">
									{{ prettifyTs props.scheduled_at 'date'}}
								</span>
								<strong>
									{{{v title }}}
								</strong>
							</a>
							<br>
							{{v props.location }}
						</li>
					{{/meetup}}
					<li class="all-meetups">
						<a href="{{ routes.meetups }}">All events &raquo;</a>
					</li>
				</ul>
			</div>
		</div>
	{{/if}}
</div>
