<div class="getSwagContainer">

  <h3>Support Open Source, Get Free Stuff</h3>

  {{#if user.isLoggedIn}}

  {{^if user.hasAddress}}<div class="alert alert-danger alert-block"><p>We can't send you stuff because you haven't completed your profile! <a class="pull-right btn btn-small btn-danger">Complete Profile</a><br /></p></div>{{/if}}
  
  <p>When you reach these point levels, we'll send you this stuff. We send swag to US addresses every month and to non-US addresses every six months.</p>
  
  {{else}}
  
  <div class="btn-wrapper logged-out pull-right">
	<button href="#login-modal" role="button" data-toggle="modal" class="btn-signup">Sign Up Now</button>
  </div>
  
  <p>When you reach these point levels, we'll send you stuff.<br></p>
  
  {{/if}}
  
  <div class="rewards">

	{{#if user.isLoggedIn}}
	
	{{#rewards}} <!-- css classes: achieved, shipping, almost -->
	<div class="item {{status_cssClass}}" style="background-image: url({{image.image.large.url}})">
	  <span class="points">{{#if display_point_minimum}}{{display_point_minimum}}{{else}}{{point_minimum}}{{/if}}</span>
	  {{#if status_message}}<span class="message">{{ status_message }}</span>{{/if}}
	  <span class="title">{{title}}{{#if status_inlineMessage}}<span class="message">{{ status_inlineMessage }}</span>{{/if}}</span>
	</div>
	{{/rewards}}

	{{else}}

	{{#rewards}} <!-- css classes: achieved, shipping, almost -->
	<div class="item" style="background-image: url({{image.image.large.url}})">
	  <span class="points">{{#if display_point_minimum}}{{display_point_minimum}}{{else}}{{point_minimum}}{{/if}}</span>
	  <span class="title">{{title}}</span>
	</div>
	{{/rewards}}

	
	{{/if}}

  </div>
  
</div>
