<h1 class="admin-page-header">Dashboard</h1>

<div class="clearfix filter-wrap">
	<div class="col-xs-2">
		<label>Providers</label>
		<select class="form-control" can-value="currentProvider">
			<option value="all">All</option>
			{{#identities}}
				<option value="{{ provider }}">{{ name }}</option>
			{{/identities}}
		</select>
	</div>
</div>

<hr>

<div class="activity-wrap">
	{{#each items}}
		<div class="event-wrap">
			{{{renderEntity this}}}
		</div>
	{{/each}}
</div>
<div class="row load-row">
	<div class="col-xs-3 col-xs-offset-4">
		<button class="btn btn-primary load-next-page" can-click="loadNextPage" {{#if isLoading}}disabled{{/if}}>
			{{#if isLoading}}
				<i class="fa fa-refresh fa-spin"></i> Loading...
			{{else}}
				Load Next Page
			{{/if}}
		</button>
	</div>
</div>