<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>Dashboard demo page!</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="content"></div>
      </div>
    </div>
    <script type='text/javascript' src='../../bower_admin/components/requirejs/require.js'></script>
    <script type='text/javascript' src='../../requirejsconfig.js'></script>
    <script type='text/javascript'>

      steal('admin/components/dashboard/dashboard', 'css!/styles/mockup/mockup', function(Dashboard){

        var renderer = can.view.mustache('<dashboard></dashboard>');

        $('#content').html(renderer({
          
        }));
        
      })
    </script>
  </body>
</html>
