<li class="divider-vertical"></li>

{{#if user.loggedInDelayed}}
<li class="logged-in">
  <div class="gradient-border-wrapper">
	<button id="show-newpost-form-btn"><span>+</span> Post</button>
  </div>
</li>

<li id="profile-dropdown" class="dropdown logged-in">
  <button class="dropdown-toggle" data-toggle="dropdown">
	<div class="gradient-border-wrapper">
	  {{#user.avatar_url}}<img class="avatar" src="{{.}}" alt="gravtar">{{/user.avatar_url}}
	</div>
	<b class="caret"></b>
  </button>
  <ul class="dropdown-menu">
	<li><a href="{{routes.profile}}"><span class="login-profile profile-account"></span>My Profile</a></li>
	<li><a href="{{routes.activity}}"><span class="login-points profile-activities"></span>My Points &amp; Activity</a></li>
	<li><a id="logout-btn" href="{{routes.logout}}"><span class="login-logout"></span>Logout</a></li>
  </ul>
</li>

{{else}}

<li id="login-dropdown" class="dropdown logged-out">
  <a href="#" class="dropdown-toggle login-btn" data-toggle="dropdown">Login or Register<b class="caret"></b></a>
  <ul class="dropdown-menu">
	<li><a id="login-twitter-link" href="/api/auth/twitter"><span class="login-twitter"></span>Twitter</a></li>
	<li><a id="login-github-link" href="/api/auth/github"><span class="login-github"></span>GitHub</a></li>
  </ul>
</li>

{{/if}}
