<li class="divider-vertical"></li>

{{#ifequal user.authStatus 'loggedIn'}}

<li>
	<button id="show-newpost-form-btn" class="{{postBtnActive}}"><span>+</span> Post</button>
</li>

<li id="profile-dropdown" class="dropdown">
  <button class="dropdown-toggle" data-toggle="dropdown">
	<div class="gradient-border-wrapper">
	  {{#user.avatarUrl}}<img class="avatar" src="{{.}}" alt="gravatar" {{ imgErrorHandler }}>{{/user.avatarUrl}}
	</div>
	<b class="caret"></b>
  </button>
  <ul class="dropdown-menu">
	<li><a href="{{routes.earnpoints}}"><span class="login-points profile-points"></span>Earn Points</a></li>
	<li><a href="{{routes.rewards}}"><span class="login-rewards profile-rewards"></span>Rewards</a></li>
	<li><a href="{{routes.activities}}"><span class="login-activity profile-activity"></span>Activity</a></li>
	<li><a href="{{routes.profile}}"><span class="login-profile profile-account"></span>Profile</a></li>
	
	{{#user.isAdmin}}
	<li><a href="{{routes.admin}}"><span class="login-admin admin-panel"></span>Admin Panel</a></li>
	{{/user.isAdmin}}
	
	<li><a id="logout-btn" href="javascript://"><span class="login-logout"></span>Logout</a></li>
  </ul>
</li>

{{/ifequal}}

{{#ifequal user.authStatus 'loggingIn'}}
<li>
  <a class="disabled">Logging in...</a>
</li>
{{/ifequal}}

{{#ifequal user.authStatus 'loggedOut'}}

<li id="login-dropdown" class="dropdown">
  <a href="#" class="dropdown-toggle login-btn" data-toggle="dropdown">Login or Register<b class="caret"></b></a>
  <ul class="dropdown-menu">
	<li><a id="login-twitter-link" href="/api/auth/twitter"><span class="login-twitter"></span>Twitter</a></li>
	<li><a id="login-github-link" href="/api/auth/github"><span class="login-github"></span>GitHub</a></li>
	<li><a id="login-meetup-link" href="/api/auth/meetup"><span class="login-meetup"></span>Meetup</a></li>
	<li><a id="login-stackexchange-link" href="/api/auth/stackexchange"><span class="login-stackexchange"></span>Stack Exchange</a></li>
  </ul>
</li>

{{/ifequal}}
