{{#inited}}
	{{#event}}
		<div class="event list-element {{#isEventUpvoted this}}upvoted{{/isEventUpvoted}} clearfix" {{data 'eventObj'}}>

			<bh-toolbar user="user"></bh-toolbar>
			<bh-upvote event="this" user="user"></bh-upvote>

			<!-- content -->
			<div class="span7 content clearfix">

				<div class="row clearfix">
					<div class="twitter-profile-pic pull-left">
						<a href="{{ linkToTwitterProfile props.origin_author_name }}">
							{{{img props.origin_author_avatar_url 'Avatar'}}}
						</a>
					</div>

					<h5 class="title">
						{{v authorName}}
						<a href="{{ linkToTwitterProfile props.origin_author_name }}">
							<small>@{{v props.origin_author_name}}</small>
						</a>
					</h5>
					<div class="body">{{{v title }}}</div>
				</div>

				<div class="status row">
					<div class="metadata-container pull-right">

						{{#when children.length}}
							<div class="retweets-container">
								<i class="icon-retweet"></i>

								{{#children}}
									<a href="https://twitter.com/{{v props.origin_author_name }}">
										{{{img props.origin_author_avatar_url 'Avatar' 'profile-icon'}}}
									</a>
								{{/children}}

							</div><!-- .rewtweets-container -->
						{{/when}}


						<div class="event-metadata pull-right">
							<small>
								{{ prettifyTs origin_ts dateFormat }} via
								<strong><a href="{{v url }}">{{v feed }}</a></strong>
							</small>
						</div>

					</div>

					<bh-tags tags="tags"></bh-tags>

					{{#if user.isAdmin}}
						<!-- ADMIN -->
						<a href="#" class="expand-manage-bar"></a>
						<!-- /ADMIN -->
					{{/if}}

				</div>

				<bh-manage-bar event="this" user="user"></bh-manage-bar>

			</div>
		</div>
	{{/event}}
{{/inited}}