<div class="reply-event row {{ eventType }} {{#isEventUpvoted event}}upvoted{{/isEventUpvoted}}" {{#event}}{{ data 'eventObj' }}{{/event}}>

	{{#if hasAwardValue}}
		<div class="awarded-badge"><span>+{{ props.awarded_value }}</span></div>
	{{/if}}

	{{#canBeAwarded event}}
		<div class="award-btn">
			<a href="#"><span class="caret"></span>Award</a>
		</div>
	{{/canBeAwarded}}

	<div class="votes vote-btn">
		<div class="uparrow"></div>
		<div class="count">{{ upvotes }}</div>
	</div>

	<div class="body reply">
		
		{{#if isCommit}}
			<a href="{{ url }}">{{ substring source_data.sha 0 6 }}</a> = {{v title }}
		{{ else }}
			{{#if isIssue}}
				Issue {{v props.action }}
			{{ else }}
				{{#if body}}{{{v body}}}{{ else }}{{{v title}}}{{/if}}
			{{/if}}
		{{/if}}

		<div class="event-metadata pull-right">
			{{v authorName }}
			{{ prettifyTs origin_ts 'datetime' }}
		</div>

	</div>

</div>