<div class="status row clearfix">
	<div class="metadata-container">
		<div class="event-metadata pull-right">
			<small>
			{{v event.authorName}}
			{{prettifyTs event.origin_ts dateFormat}}
			via <strong><a href="{{v event.url }}">{{v event.feed}}</a></strong></small>
		</div>
	</div>
	
	{{#when event.children.length}}
		<a class="expand-replies" can-click="toggleChildren">
			<span class="icon {{#if expanded}}collapse{{/if}}"></span>Earlier ({{v event.children.length}})
		</a>
	{{/when}}
	
	{{{ renderEventTags event.tags }}}

	{{#if user.isAdmin}}
		<a href="#" class="expand-manage-bar"></a>
	{{/if}}

</div>
