<div class="span1 votes">

	<div class="uparrow"></div>
	<div class="count">
		{{ event.upvotes }}
	</div>

	<div class="voteup-btn">
		<span class="upvote-caret"></span>
		<span class="caption {{#if eventIsUpvoted}}upvoted{{/if}}">
			{{#if eventIsUpvoted}}
				Unvote
			{{else}}
				Vote up
			{{/if}}
		</span>
	</div>

	{{#if canBeAwarded}}
		<div class="award-btn">
			<div class="word"><span>Award</span></div>
			<div class="caret-right"></div>
			<div class="clearfix"></div>
		</div>
	{{/if}}

	<div class="clearfix"></div>

</div>