<div class="span1 votes">

	<div class="uparrow"></div>
	<div class="count">
		{{ event.upvotes }}
	</div>

	<div class="voteup-btn">
		<span class="upvote-caret"></span>
		<span class="caption {{#if eventIsUpvoted}}upvoted{{/if}}">
			{{#if eventIsUpvoted}}
				Unvote
			{{else}}
				Vote up
			{{/if}}
		</span>
	</div>

	<div class="clearfix"></div>

</div>