<div class="panel panel-default">
	<div class="panel-heading">{{#if category.isNew}}Add{{ else }}Edit{{/if}} category</div>
	<form role="form">
		<div class="form-group">
			<label>Category name</label>
			<input type="text" class="form-control" placeholder="Category Name" can-value="category.name">
		</div>

		<h4>Include data from:</h4>

		<table class="table">
			<tr class="active">
				<td>Facebook</td>
			</tr>
			<tr>
				<td><div class="checkbox"><input type="checkbox">Likes</div></td>
			</tr>
			


			<tr class="active">
				<td>Twitter</td>
			</tr>
			<tr>
				<td><div class="checkbox"><input type="checkbox">Follows</div></td>
			</tr>
			<tr>
				<td><div class="checkbox"><input type="checkbox">Mentions</div></td>
			</tr>

			
			<tr class="active">
				<td>Meetup</td>
			</tr>
			<tr>
				<td><div class="checkbox"><input type="checkbox">Events</div></td>
			</tr>
			<tr>
				<td><div class="checkbox"><input type="checkbox">RSVPs</div></td>
			</tr>


		</table>

		<hr>

		<div class="clearfix tagged-with-wrapper">
			<div class="col-xs-3">
				<select class="form-control">
					<option>Tagged with any of</option>
					<option>Tagged with all of</option>
					<option>Not tagged with any of</option>
					<option>Not tagged with all of</option>
				</select>
			</div>
			<div class="col-xs-7">
				<input type="text" class="form-control">
			</div>
			<div class="col-xs-2 tagged-with-actions">
				<button class="btn btn-success btn-xs">+</button>
				<button class="btn btn-danger btn-xs">-</button>
			</div>
		</div>
		<hr>
		<div class="save-wrapper clearfix">
			<button class="btn btn-primary">{{#if category.isNew}}Create{{ else }}Save{{/if}} Category</button>
			{{#if category.isNew}}
				<a href="javascript://" class="btn btn-link">Cancel</button>
			{{else}}
				<button class="btn btn-link">Delete Category</button>
			{{/if}}
		</div>
	</form>

</div>