<div class="profile-content user-profile-page">

    <h3 class="user-profile-header span12">
        User profile
        <a href="/leaderboard" class="leaderboard">Leaderboard</a>
    </h3>

    <div class="span4 user-profile-wrapper sidebar-container">
        <div class="sidebar">
            {{#user}}
                {{#if avatarUrl}}
                    <div class="avatar">
                        {{#avatarUrl}}<img src="{{.}}" alt="avatar">{{/avatarUrl}}
                    </div>
                {{/if}}
                <h4 class="username">{{name}}</h4>
                {{ score }} {{ pointInflector score}}
                <hr>
                {{{ userUrls this }}}
            {{/user}}
            <hr>
            <div id="leaderboard" class="leaderboard"></div>
        </div>
    </div>

    <div class="span8">

        <div class="events-group latest-group">
            {{#if loadedEvents}}
                {{#data}}
                    {{#when hasDigest}}
                        <bh-digest-list digest="digest"></bh-digest-list>
                    {{/when}}
                    {{#dailyCategories}}
                        <div class="category-{{ currentCategory }}">
                            <h3 class="section-title"><i class="icon-{{ currentCategory }}"></i>{{ currentCategory }}</h3>
                            {{{ entityComponent events }}}
                        </div>
                    {{/dailyCategories}}

                    {{#when types.code}}
                        <div class="category-code">
                            <h3 class="section-title"><i class="icon-code"></i>Code</h3>
                            <bh-code events="code" currentdate="date"></bh-code>
                        </div>
                    {{/when}}
                {{/data}}
                {{#unless hasEvents}}
                    <div class="alert alert-notice">
                        User has no events.
                    </div>
                {{/unless}}
            {{else}}
                <div class="alert alert-info">
                    <img src="/assets/images/ajax-loader-sm-blue.gif" alt="loading...">
                </div>
            {{/if}}
        </div>
    </div>

</div>
