<h1 class="admin-page-header">Registered Users</h1>
<hr>
{{#if loading}}
Loading ...
{{else}}

	<admin-pagination count="count" params="params"></admin-pagination>
	
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Points</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

		{{#users}}
			
			<tr {{data 'user'}}>
				<td>{{ name }}</td>
				<td>{{ email }}</td>
				<td>{{ rolesCsv }}</td>
				<td>{{ score}}</td>
				<td><button class="delete-user close">&times;</button></td>
			</tr>
			
		{{/users}}
		</tbody>
	</table>

	<admin-pagination count="count" params="params"></admin-pagination>
{{/if}}