<h1 class="admin-page-header">Registered Users</h1>
<hr>
{{#if loading}}
Loading ...
{{else}}
	<table class="table table-stripped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Points</th>
				<th></th>
			</tr>
		</thead>
		<tbody>

		{{#users}}
			
			<tr {{data 'user'}}>
				<td><a href="{{ editUserUrl this }}">{{ name }}</a></td>
				<td>{{ email }}</td>
				<td>{{ rolesCsv }}</td>
				<td>{{ score}}</td>
				<td><button class="delete-user close">&times;</button></td>
			</tr>
			
		{{/users}}
		</tbody>
	</table>

	<div class="pagination pull-right">
		<a href="{{ prevOffsetUrl }}" class="btn">Prev page</a>
		<a href="{{ nextOffsetUrl }}" class="btn">Next page</a>
	</div>
{{/if}}