<h1 class="admin-page-header">Settings</h1>
<hr>

<div>
	<div class="form-group">
		<label>Brand, company or organization name</label>
		<input type="text" class="form-control" can-value="brand.name">
	</div>

	<div class="form-group">
		<label>Aliases</label>
		<p>
			When searching for your brand, company or organization name, we'll include these aliases:
		</p>
		<div class="panel panel-default">
			<ul class="list-group">
				{{#brand.keywords}}
					<li class="list-group-item">{{ . }} <i class="fa fa-times-circle remove-keyword" can-click="removeKeyword"></i></li>
				{{/brand.keywords}}
				{{#if canAddKeywords}}
					<li class="list-group-item add-keyword-wrap">
						<input type="text" can-enter="addKeyword" class="form-control" placeholder="Add alias">
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
	
	<hr>
	<div class="save-wrapper clearfix">
		<button class="btn btn-primary" can-click="saveBrand">Save Settings</button>
	</div>
</div>