<h1 class="admin-page-header">Settings</h1>
<hr>

<div>
	<div class="form-group">
		<label>Brand, company or organization name</label>
		<input type="text" class="form-control" can-value="brand.name">
	</div>

	<div class="form-group">
		<label>Aliases</label>
		<p>
			When searching for your brand, company or organization name, we'll include these aliases:
		</p>
		<div class="panel panel-default keyword-list-wrap">
			<ul class="list-unstyled clearfix keyword-list">
				{{#brand.keywords}}
					<li>{{ . }} <i class="fa fa-times-circle remove-keyword" can-click="removeKeyword"></i></li>
				{{/brand.keywords}}
				{{#if canAddKeywords}}
					<input type="text" can-keydown="manageKeywords" can-blur="addKeyword" class="form-control keyword-input" placeholder="Add alias">
				{{/if}}
			</ul>
		</div>
	</div>
	
	<hr>
	<div class="save-wrapper clearfix">
		{{#if hasSavedBrand}}
			<div class="alert alert-info alert-dismissable">
				<button type="button" class="close" can-click="hideHasSavedBrand">&times;</button>
				Brand changes are saved.
			</div>
		{{/if}}
		<button class="btn btn-primary pull-right" can-click="saveBrand" {{#if isSavingBrand}}disabled{{/if}}>
			{{#if isSavingBrand}}
				<i class="fa fa-refresh fa-spin"></i>
				Saving ...
			{{else}}
				Save Brand
			{{/if}}
		</button>
	</div>
</div>