settings {
	display: block;
	form {
		padding: 0
	}
	.save-wrapper .btn {
		float: right;
	}
	.nav-tabs {
		margin: 20px 0 20px;
	}
	
	.remove-keyword {
		cursor: pointer;
	}
	.add-keyword-wrap {
		padding: 0;
		input.form-control {
			border: none;
		}
	}

	.keyword-list-wrap {
		li, .form-control {
			float: left;
			width: auto;
		}
		input.form-control {
			border: none;
			box-shadow: none;
			padding: 0 5px;
		}
	}

	.keyword-list {
		margin: 0;
		li {
			background: #DAEFFF;
			margin: 3px;
			padding: 5px;
			border-radius: 3px;
		}
	}
}