<h1 class="admin-page-header">Settings</h1>
<hr>

<div>
		<form>
			<label>Brand, company or organization name</label>
			<input type="text" class="form-control" value="CanJS">
			<div class="checkbox">
				<label for=""><input type="checkbox">Allow users to upvote</label>
			</div>
			<hr>
			<label>Keywords</label>
			<p>
				We will filter items from the connected networks based on these keywords
			</p>
			<div class="form-control keywords-wrap">
				<span class="badge">
					<i class="fa fa-times-circle"></i>
					canjs</span>
				<span class="badge">
					<i class="fa fa-times-circle"></i>
					CanJS</span>
				<span class="badge">
					<i class="fa fa-times-circle"></i>
					#canjs</span>
				<span class="badge">
					<i class="fa fa-times-circle"></i>
					can_js</span>
			</div>
			<hr>
			<div class="save-wrapper clearfix">
				<button class="btn btn-primary">Save Settings</button>
				<a href="javascript://" class="btn btn-link">Cancel</a>
			</div>
		</form>
		
</div>