<% if (can.route.attr('view') === 'greatest') { %>
	<div class="select-menu">
		<select>
			<% can.each(items, function(item) { %>
				<option><%= item.display %></option>
			<% }) %>
		</select>
	</div>
<% } %>
