<div class="getSwagContainer">

  <h3>Support Open Source, Get Free Stuff</h3>

  {{#if user.isLoggedIn}}
  <p>When you reach these point levels, we'll send you this stuff. We send swag to US addresses every month and to non-US addresses every six months.</p>
  {{else}}
  <div class="btn-wrapper logged-out pull-right">
	<button href="#login-modal" role="button" data-toggle="modal" class="btn-signup">Sign Up Now</button>
  </div>
  <p>When you reach these point levels, we'll send you stuff.</p>
  {{/if}}
  
  <div class="rewards">
  	<div class="item achieved" style="background-image: url(http://lorempixel.com/g/500/300)">
	  <span class="points">100</span>
	  	  
	  <span class="title">Buttons <span class="message">Shipped 6/7/23</span> </span>
	</div>
	<div class="item shipping" style="background-image: url(http://lorempixel.com/400/300/)">
	  <span class="points">200</span>
	  <span class="message">This is a great thing!</span>	  
	  <span class="title">T-Shirts</span>
	</div>
		<div class="item almost" style="background-image: url(http://lorempixel.com/400/400/)">
	  <span class="points">200</span>
	  <span class="message">53 points to go!</span>	  
	  <span class="title">T-Shirts</span>
	</div>
		<div class="item" style="background-image: url(http://lorempixel.com/500/200/)">
	  <span class="points">2,000</span>	  
	  <span class="title">T-Shirts</span>
	</div>
		<div class="item" style="background-image: url(http://lorempixel.com/500/300/)">
	  <span class="points">Overall Leader</span>  
	  <span class="title">Bitovi Appreciate Day</span>
	</div>
	{{#rewards}}
	<div class="item" style="background-image: url({{image.image.large.url}})">
	  <span class="points">{{point_minimum}}</span>
	  <span class="message">{{description}}</span>	  
	  <span class="title">{{title}}</span>
	</div>
	{{/rewards}}
  </div>
  
</div>
