<div class="getSwagContainer">

  <h3>Support Open Source, Get Free Stuff</h3>

  {{#if user.isLoggedIn}}
  <p>When you reach these point levels, we'll send you this stuff. We send swag to US addresses every month and to non-US addresses every six months.</p>
  {{else}}
  <div class="btn-wrapper logged-out pull-right">
	<button href="#login-modal" role="button" data-toggle="modal" class="btn-signup">Sign Up Now</button>
  </div>
  <p>When you reach these point levels, we'll send you stuff.</p>
  {{/if}}
  
  <div class="items">
	
  </div>
  
</div>
