<div class="getSwagContainer">

  <h3>Support Open Source, Get Free Stuff</h3>

  {{#if user.isLoggedIn}}
  <p>When you reach these point levels, we'll send you this stuff. We send swag to US addresses every month and to non-US addresses every six months.</p>
  {{else}}
  <div class="btn-wrapper logged-out pull-right">
	<button href="#login-modal" role="button" data-toggle="modal" class="btn-signup">Sign Up Now</button>
  </div>
  <p>When you reach these point levels, we'll send you stuff.</p>
  {{/if}}
  
  <div class="rewards">

	<!--
	<div class="item almost" style="background-image: url(http://lorempixel.com/400/400/)">
	  <span class="points">200</span>
	  <span class="message">53 points to go!</span>	  
	  <span class="title">T-Shirts</span>
	</div>
	-->

	{{#rewards}} <!-- css classes: achieved, shipping, almost -->
	<div class="item {{status.cssClass}}" style="background-image: url({{image.image.large.url}})">
	  <span class="points">{{point_minimum}}</span>
	  {{#if status.message}}<span class="message">{{ status.message }}</span>{{/if}}
	  <span class="title">{{title}}{{#if status.inlineMessage}}<span class="message">{{ status.inlineMessage }}</span>{{/if}}</span>
	</div>
	{{/rewards}}

	{{#if rewards.length }} <!-- show this when other swag is loaded as well -->
	<div class="item" style="background-image: url(http://lorempixel.com/500/300/)">
	  <span class="points">Overall Leader</span>  
	  <span class="title">Bitovi Appreciate Day</span>
	</div>
	{{/if}}

  </div>
  
</div>
