<div class="span9 offset1">

  <%== partials.determineEvent( event.attr('tags') ).render({event: event, data: data, partials: partials, orderChildrenBy: 'origin_ts', date: new Date()}) %>

  <div class="clearfix"></div>
</div>
