<div class="span9 offset1">

  <%== determineEventPartial(event.attr('tags')).render({event: event, eventChildrenPartial: eventChildrenPartial, eventChildEventPartial: eventChildEventPartial, projects: projects, categories: categories, visibleTags: visibleTags, orderChildrenBy: 'origin_ts', date: new Date()}) %>

  <div class="clearfix"></div>
</div>
