<div class="span9 offset1">

  <div class="event single-event" <%= (el) -> el.data('eventObj', event)  %> >

	<!-- upvotes -->
	<div class="span1 votes">
	  <div class="uparrow"></div>
	  <div class="count">
		<%= event.attr('upvotes') %>
	  </div>

	  <div class="voteup-btn">
		<span class="upvote-caret"></span>Vote up
	  </div>

	  <% if (!event.attr('props.thread_awarded') && isLoggedIn() && isAdmin()) { %>
	  <div class="award-btn">
		<div class="word"><span>Award</span></div>
		<div class="caret-right"></div>
		<div class="clearfix"></div>
	  </div>
	  <% } %>

	  <% if (event.attr('props.thread_awarded')) { %>
	  <div class="awarded">Awarded</div>
	  <% } %>

	  <div class="clearfix"></div>
	</div>
	
	<!-- content -->
	<div class="span8 content">

	  
	  <!-- EVENT PARTIAL -->
	  <%== determineEventPartial(event.attr('tags')).render({event: event, visibleTags: visibleTags, date: new Date()}, ejsHelpers) %>

	  <% if (event.attr('children').length) { %>
	  <%== eventChildrenPartial.render({events: sortChildren(event.attr('children'), 'origin_ts', 'desc')}) %>
      <% } %>

	  
	</div>

	<div class="clearfix"></div>
  </div>
  
</div>
