<h1 class="admin-page-header">Getting Started</h1>
<hr>
<div class="alert alert-{{#stage 1}}info{{else}}success done{{/stage}}">
	{{#stage 1}}
		<span class="badge">1</span>
	{{else}}
		<i class="fa fa-check"></i>
	{{/stage}}
	<a href="javascript://">Setup your brand and keywords &raquo;</a>
</div>

<div class="alert alert-{{#stage 2}}info{{else}}success done{{/stage}}">
	{{#stage 2}}
		<span class="badge">2</span>
	{{else}}
		<i class="fa fa-check"></i>
	{{/stage}}
	<a href="javascript://">Connect social networks &raquo;</a>
</div>

<div class="alert alert-{{#stage 3}}info{{else}}success done{{/stage}}">
	{{#stage 3}}
		<span class="badge">3</span>
	{{else}}
		<i class="fa fa-check"></i>
	{{/stage}}
	<a href="javascript://">Setup scoring rules &raquo;</a>
</div>

<div class="alert alert-{{#stage 4}}info{{else}}success done{{/stage}}">
	{{#stage 4}}
		<span class="badge">4</span>
	{{else}}
		<i class="fa fa-check"></i>
	{{/stage}}
	<a href="javascript://">Add Rewards &raquo;</a>
</div>