rewards {
	display: block;
	.reward-rule .col-xs-6, .reward-rule .col-xs-4 {
		padding-left: 0;
		padding-top: 25px;
		label {
			margin-top: 5px;
		}
	}
	img {
		width: 150px;
		height: 150px;
	}
	.save-wrapper .btn {
		float: right;
	}
	.table > tbody > tr > td.add-reward {
		text-align: right;
		padding: 20px 0 0;
	}
}