rewards {
	display: block;
	.reward-rule .col-xs-6, .reward-rule .col-xs-4 {
		padding-left: 0;
		label {
			margin-top: 5px;
		}
	}
	img {
		width: 150px;
		height: 150px;
	}
	.save-wrapper .btn {
		float: right;
	}
}