<div class="panel panel-default">
	<div class="panel-heading">
		<b>Create Account</b>
	</div>
	<form role="form">
		<div class="form-group">
			<label>Email</label>
			<input type="text" class="form-control" placeholder="Email">
		</div>

		<div class="form-group">
			<label>Password</label>
			<input type="text" class="form-control" placeholder="Password">
		</div>

		<div class="form-group">
			<label>Password Confirmation</label>
			<input type="text" class="form-control" placeholder="Password Confirmation">
		</div>


		<hr>
		<div class="save-wrapper clearfix">
			<button class="btn btn-primary">Start your trial &raquo;</button>
		</div>
	</form>

</div>