{{#event}}
<div id="single-event" class="event" {{data 'event'}}>

  <!-- upvotes -->
  <div class="span1 votes">
	<div class="uparrow"></div>
	<div class="count">{{upvotes}}</div>
	<div class="voteup"><span class="upvote-caret"></span>Vote up</div>
	<div class="clearfix"></div>
  </div>
  
  <!-- content -->
  <div class="span8 content">
	<div class="row">

	  <h4 class="title">
		<a {{#if url}}href="{{url}}"{{/if}}>{{title}}</a>
		{{#if award_value}}<span class='badge'>+{{award_sum}}</span>{{/if}}
	  </h4>

	  {{#if image_url}}<img src="{{image_url}}" class="thumb" alt="post image" >{{/if}}

	  <div class="body">{{markdown body tags}}</div>
	  <div class="clearfix"></div>
	</div>

	<!-- status -->
	<div class="status row">

	  <div class="metadata-container pull-right">
		<div class="event-metadata pull-right">
		  <small>{{#if getAuthorName }}<a href="#">{{getAuthorName}}</a> /{{/if}} {{origin_ts}} via <strong><a href="{{url}}">{{feed}}</a></strong></small>
		</div>
		{{#if children.length}}
		<a class="expand-replies"><span class="icon"></span>Earlier ({{children.length}})</a>
		{{/if}}
		<ul class="tag-list nav">
		  {{#tags}}
		  <li class="tag-name {{.}}"><a href="#"><small>{{.}}</small></a></li>	
		  {{/tags}}
		</ul>

	  </div>
	  
	  <div class="clearfix"></div>
	</div>
	
	{{#if children.length}}
    {{> eventChildrenPartial}}
    {{/if}}
	
  </div>

  <div class="clearfix"></div>
</div>
{{/event}}
