<div class="navbar">
  <div class="row">
	<div class="span12">
	  <ul class="nav">
		<li>My Account:</li>
		<li><a href="/#!profile">Profile</a></li>
		<li><a href="/#!activities">Points &amp; Activity</a></li>
	  </ul>
	</div>
  </div>
</div>

<div id="activities" class="span12 activities">
Activities
</div>