<h3>Setup Twitter</h3>
<div class="form-group">
	<label>Consumer Key</label>
	<input type="text" class="form-control" placeholder="Consumer Key">
</div>
<div class="form-group">
	<label>Consumer Secret</label>
	<input type="text" class="form-control" placeholder="Consumer Secret">
</div>
<div class="form-group">
	<label>OAuth Token</label>
	<input type="text" class="form-control" placeholder="OAuth Token">
</div>
<div class="form-group">
	<label>OAuth Token Secret</label>
	<input type="text" class="form-control" placeholder="OAuth Token Secret">
</div>

<hr>

<h4>Follow these accounts:</h4>
{{#accounts}}
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="text" class="form-control" value="{{ . }}">
		</div>
	</div>
{{/accounts}}