<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<a href="javascript://" class="navbar-brand">BitHub</a>
		<ul class="nav navbar-nav">
			{{{ menu }}}
		</ul>

		
	</div>

</nav>
<div class="container">
	<div class="row">
		{{{currentPage}}}
	</div>
	
</div>