/* @override 
	http://feeder-web.herokuapp.com/styles/app.css
	http://localhost:4567/styles/app.css
	http://127.0.0.1:4567/styles/app.css */
#container {
	overflow: hidden;
}
.leftalign {
	text-align: left;
}
.rightalign {
	text-align: right;
}
/* Let's make our own wells */
.well {
	background-color: #f2f2f2;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #fff;
	-moz-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.25);
	-webkit-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.25);
	box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.25);
	padding: 0;
	padding: 10px;
}
ul.well {
	margin: 0;
}
ul.well li {
	margin-left: 20px!important;
}


input, textarea, select {
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
}

input:focus, textarea:focus {
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	border: 1px solid #969595 !important;
	background-color: #fffef2;
}

.dropdown-menu {
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid #ccc;
}
.dropdown-menu li {
	text-align: left;
}
.dropdown-menu li a {
	font-size: 12px;
	color: #696767;
}
.dropdown-menu li a:hover {
	background: #a80e14;
	background-color: #a80e14;
}
#profile-dropdown .dropdown-menu {
	margin-top: 8px;
	margin-right: 12px;
}
#login-dropdown .dropdown-menu li a,
#profile-dropdown .dropdown-menu li a {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 20px;
	height: 20px;
	vertical-align: top;
}
/* user menu styles */
#profileOptions {
	background: url(../images/account-glyphs.png) no-repeat -9999px;
}
#profileOptions .dropdown-menu {
	margin-top: 5px;
}
#profileOptions .dropdown-menu > li > a {
	vertical-align: top;
	padding-left: 8px;
	height: 20px;
	padding-right: 35px;
}
.login-twitter, .login-github, .login-google, 
.login-profile, .login-points, .login-logout {
	background: url(../images/account-glyphs.png) no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 5px;
	line-height: 20px;
}
.login-github {
	background-position: 0px -20px;
}
.login-google {
	background-position: 0px -40px;
}
.login-profile {
	background-position: 0px -60px;
}
.login-points {
	background-position: 0px -80px;
}
.login-logout {
	background-position: 0px -100px;
}
.dropdown-menu > li > a:hover .login-twitter, 
.dropdown-menu > li > a:hover .login-google,
.dropdown-menu > li > a:hover .login-github,
.dropdown-menu > li > a:hover .login-profile,
.dropdown-menu > li > a:hover .login-points,
.dropdown-menu > li > a:hover .login-logout {
	background-position-x: -20px;
}
#filter-bar .btn, #newpost-form .btn, #edit-profile-form .btn {
	color: #909090;
	text-shadow: 0 -1px 0 #fefeff;
	border: 1px solid #c3bfbe;
	font: normal 13px "Open Sans";
	margin-top: 4px;
}

#filter-bar .btn.active, #newpost-form .btn.active, #edit-profile-form .btn.active {
	color: #373737;
	-moz-box-shadow: 0 0 1px rgba(14, 14, 10, 0);
	-webkit-box-shadow: 0 0 1px rgba(14, 14, 10, 0);
	box-shadow: 0 0 1px rgba(14, 14, 10, 0);
	background: rgb(220,223,223);
	background: -moz-linear-gradient(top,  rgba(220,223,223,1) 13%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(13%,rgba(220,223,223,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(220,223,223,1) 13%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(220,223,223,1) 13%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(220,223,223,1) 13%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(220,223,223,1) 13%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdfdf', endColorstr='#ffffff',GradientType=0 );
	
}

/* end bootstrap overrides */


#filter-bar .pager { 
	margin: 10px 0 0; 
}
#filter-bar {
	background-color: #fff;
	display: block;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
	position: fixed;
	width: 100%;
	top: 60px;
}
.caret {
	border: none;
	background: url(../images/dropdown.png) no-repeat -1px 0px;
	width: 11px;
	height: 10px;
	margin: 5px 0 0!important;
}
.projects .caret {
	position: absolute;
	right: 7px;
}
.hidden {
	display: none;
}
.btn-bigass {
	border: 2px solid #000;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	background: #585656;
	font-weight: bold;
	text-shadow: 0 1px 0 #000;
	padding: 6px 12px;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.48);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.48);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.48);
	display: inline-block;
	position: relative;
}
.btn-bigass.plus {
	background: url(../images/newpost-glyphs.png) no-repeat 10px 8px #585656;
	padding-left: 35px;
}
.btn-bigass:hover {
	background-color: #827f7f;
}

.btn-bigass.light {
	background-color: #d6d6d6;
	border-color: #aaa;	
	color: #919090;
	text-shadow: 0 1px 0 #fff;
}

.btn-bigass.light:hover {
	background-color: #586565;
	border-color: #222121;	
	color: #fff;
	text-shadow: 0 1px 0 #000;	
}

.btn-bigass.activated {
	background-color: #252525;
	border-color: #5a5b5b;	
	color: #dadbdb;
	position: relative;
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.48);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.48);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.48);
}
.btn-bigass.plus.activated {
	background: url(../images/newpost-glyphs.png) no-repeat 10px -25px #252525;
	-moz-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.48);
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.48);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.48);
}
.btn-bigass.plus::before {
	content: '';
	position: absolute;
	top: 34px;
	left: 42px;
	width: 28px;
	height: 17px;
	background: url(../images/newpost-expand.png) no-repeat;
	background-position-x: -9999px;
}
.btn-bigass.plus.activated::before {
	background-position-x: 0px;
}
#show-newpost {
	display: block;
}
#events, #event-list, #content > .row {
	position: relative;
}
#events h3  {
	color: #666666;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	line-height: 14px;
	margin: 0 0 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px 10px 5px 20px;
	background: url(../images/glyph-categories.png) no-repeat 0px 1px;
	text-shadow: 0 -1px 0 #ffffff;
}
#events h3.bugs-icon { background-position-y: -22px; }
#events h3.comments-icon { background-position-y: -46px; }
#events h3.code-icon { background-position-y: -68px; }
#events h3.irc-icon {	background-position-y: -91px; }
#events h3.twitter-icon { background-position-y: -114px; }
#events h3.plugins-icon { background-position-y: -138px; }
#events h3.apps-icon { background-position-y: -160px; }
#events h3.questions-icon { background-position-y: -183px; }

.flag {
	font-weight: bold;
	font-size: 14px;
	line-height: 15px;
	margin: 0;
	display: inline-block;
	color: #fff;
	padding: 5px 10px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	position: relative;
	top: 5px;
	min-width: 120px;
	text-align: center;
}
.flag.blue {
	background-color: #71bee5;
	text-shadow: 0 -1px 0 rgba(83, 148, 217, 1);
	border-bottom: 1px solid #4995bb;
	border-left: 1px solid #4995bb;
	border-right: 1px solid #4995bb;
}
.sep-wrapper, .wrapper {
	width: 100%;
	z-index: 1;
	padding: 0;
	position: relative;
}
.sep {
	height: 5px;
	margin-bottom: 35px;
	padding-left: 100%;
	margin-left: -100%;
	width: 100%;
	position: absolute;
}
.sep {
	margin-left: -2000px;
	padding-left: 2000px;
	position: static;
	width: 3000px;
}
.sep.blue {
	background-color: #71bee5;
	border-bottom: 1px solid #4995bb;
	border-top: 1px solid #4995bb;
}
.sep.blue a {
	color: #fff;
}
.filter-nav {
	list-style: none;
}
.filter-nav li {
	display: inline-block;
	font-size: 12px;
	color: #333;
	margin-right: 10px;
}

/* Top Navigation Bar --------------------------------------------- */

#navbar {
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	z-index: 1001;
}

#content {
	padding-top: 70px;
}

#navbar .navbar-inner {
	background: #fff url(../images/header-nav-bkg.jpg);
	border-bottom: 1px solid #fff;
}

#navbar .container {
	margin-right: auto;
	margin-left: auto;
	width: 1020px;
}

#navbar .brand {
	text-indent: -9999px;
	padding: 0;
	margin: 0;
	margin-right: 20px;
	width: 101px;
	height: 58px;
	background: url(../images/bithub-logo.png) no-repeat center 12px;
}

#navbar .nav {
	color: #424040;
	padding-top: 14px;
	padding-bottom: 14px;
}

#navbar .nav > li > button {
	border: 0px;
	background: none;
	padding: 0px;
	margin: 0px;
}

#navbar .nav > li > a {
	font-size: 13px;
	color: #777;
	padding: 5px 10px;
	margin-right: 0;
	border: 1px solid rgba(255, 255, 255, 0);
	text-shadow: 0 -1px 0 #ffffff;
	margin-bottom: 0;
	vertical-align: top;
} 

#navbar .nav > li > a.disabled {
	color: #424040;
}

#navbar .nav > li > a.disabled:hover, #navbar .nav #login-dropdown > a {
	border-color: transparent;
	color: #424040;
	background: none;
}

#navbar .nav #login-dropdown > a:hover {
	text-decoration: underline;
}
#navbar .dropdown.open > a {
	background: none;
	background-color: none;
}
#navbar .nav > li > a.active, #navbar .nav > li > a:hover, #navbar .projects > a {
	color: #a80e14;
	background: none rgba(166, 168, 168, 0.21);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 1px solid #fff;
}
#navbar .projects > a {
	color: #000;
	width: 90px;
	max-width: 90px;
}
#navbar .nav .latest {
	margin-right: 5px;
}
#navbar .nav > li > a.active.boxed, #navbar .nav > li > a.boxed:hover, #navbar .projects .dropdown.open > a, #navbar .projects > a {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
#navbar .nav li li.active a {
	background: #999;
}
#navbar .nav > li > a.latest .glyph, #navbar .nav > li > a.greatest .glyph {
	background-image: url(../images/glyph-navicons.png);
	width: 23px;
	height: 23px;
	display: inline-block;
	margin: -2px 3px -6px -5px;
}

#navbar .nav > li > a.latest .glyph { background-position: left top; }
#navbar .nav > li > a.latest.active .glyph, 
#navbar .nav > li > a.latest:hover .glyph { background-position: right top; }

#navbar .nav > li > a.greatest .glyph {	background-position: left bottom; }
#navbar .nav > li > a.greatest.active .glyph, 
#navbar .nav > li > a.greatest:hover .glyph { background-position: right bottom; }

#navbar .nav .caret {
	border: none;
	background: url(../images/dropdown.png) no-repeat -1px 0px;
	width: 11px;
	height: 10px;
	margin: 5px 0 0!important;
}

#navbar .nav .divider-vertical {
	height: 30px;
	border-left: 1px solid #f4f5f5;
	border-right: 1px solid #d6d1d1;
	margin: 2px 5px 0;
}
/* New Post Button */
.gradient-border-wrapper {
	padding: 2px;
	display: inline-block;
}
/* Justin doesn't like it :(
.gradient-border-wrapper {
	padding: 2px;
	display: inline-block;
	background: #c2c0c0;
	background: -moz-linear-gradient(top, #c2c0c0 0%, #fefefe 100%, #fefefe 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2c0c0), color-stop(100%,#fefefe), color-stop(100%,#fefefe));
	background: -webkit-linear-gradient(top, #c2c0c0 0%,#fefefe 100%,#fefefe 100%);
	background: -o-linear-gradient(top, #c2c0c0 0%,#fefefe 100%,#fefefe 100%);
	background: -ms-linear-gradient(top, #c2c0c0 0%,#fefefe 100%,#fefefe 100%);
	background: linear-gradient(to bottom, #c2c0c0 0%,#fefefe 100%,#fefefe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c0c0', endColorstr='#fefefe',GradientType=0 );

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
*/
button#show-newpost-form-btn {
	border: 1px solid #2578b4;
	color: #fff;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	text-shadow: 0 1px 0 #00416f;

	background: #88c2ea;
	background: -moz-linear-gradient(top, #88c2ea 0%, #57a8e1 3%, #2578b4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88c2ea), color-stop(3%,#57a8e1), color-stop(100%,#2578b4));
	background: -webkit-linear-gradient(top, #88c2ea 0%,#57a8e1 3%,#2578b4 100%);
	background: -o-linear-gradient(top, #88c2ea 0%,#57a8e1 3%,#2578b4 100%);
	background: -ms-linear-gradient(top, #88c2ea 0%,#57a8e1 3%,#2578b4 100%);
	background: linear-gradient(to bottom, #88c2ea 0%,#57a8e1 3%,#2578b4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88c2ea', endColorstr='#2578b4',GradientType=0 );
	font-size: 13px;
	padding-right: 6px;
	padding-left: 6px;
	height: 30px;
	margin-left: 10px;
	-moz-box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.24);
	-webkit-box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.24);
	box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.24);
}
button#show-newpost-form-btn span {
	position: relative;
	top: -1px;
}
button#show-newpost-form-btn:hover, button#show-newpost-form-btn.activated {
	color: #f1f1f1;
	text-shadow: 0 -1px 0 #00416f;

	background: #3082be;
	background: -moz-linear-gradient(top,  #3082be 0%, #4799d3 97%, #7db7e0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3082be), color-stop(97%,#4799d3), color-stop(100%,#7db7e0));
	background: -webkit-linear-gradient(top,  #3082be 0%,#4799d3 97%,#7db7e0 100%);
	background: -o-linear-gradient(top,  #3082be 0%,#4799d3 97%,#7db7e0 100%);
	background: -ms-linear-gradient(top,  #3082be 0%,#4799d3 97%,#7db7e0 100%);
	background: linear-gradient(to bottom,  #3082be 0%,#4799d3 97%,#7db7e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3082be', endColorstr='#7db7e0',GradientType=0 );
}

#profile-dropdown  {
	margin-left: 10px;
}
#profile-dropdown b.caret {
	vertical-align: middle;
	padding-top: 6px;
}

/* vvv check vvv  */

#navbar #profileOptions {
	margin-top: 13px;
	position: relative;
}
#navbar #profileOptions button {
	background: none;
	background-color: none;
	border: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	font: 13px "Open Sans";
	color: #333333;
	padding-left: 45px;
	padding-top: 8px;
	padding-bottom: 8px;
}
#navbar .avatar {
	width: 30px;
	height: 30px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.15);
	-webkit-box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.15);
	box-shadow: 1px 1px 2px rgba(9, 9, 9, 0.15);
}
#navbar #profileOptions .dropdown-toggle {
	background: url(../images/dropdown.png) no-repeat right -15px;
	padding-right: 20px;
}



/* Notification box ----------------------------------------------- */
.bottombar {
	position: fixed;
	width: 100%;
	display: block;
	height: auto;
	bottom: 0;
}
.bottombar .container {
	position: relative;
}
.notification {
	color: #71bee5;
	display: none; 
	position: absolute;
	z-index: 1000;
	width: 265px;
	padding: 5px 10px;
	border: 1px solid #71bee5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	

	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
	font-size: 12px;
	background: #e9f8ff;
	margin-bottom: 10px;
	min-height: 15px;
	right: 15px;
	bottom: 0;
}
/*
.notification.above { 
	top: 70px;
}

.notification.below { 
	bottom: 20px;
}
.notification:before {
	content: '';
	position: absolute;
	width: 400px;
	height: 9px;
	top: -9px;
	background: url(../images/glyph-notices.png) no-repeat center top;
	z-index: 1;
	margin-right: auto;
	margin-left: auto;
}
.notification:before {
	top: auto;
	bottom: -9px;
	background-position-y: -9px;
}
*/
.notification .message a {
	color: #71bee5;
	text-overflow: ellipsis;
	width: 230px;
	max-height: 25px;
	display: inline-block;
}
.notification .close {
	background: url(../images/glyph-notices.png) no-repeat center bottom;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
}

/* Custom input - label+input wrapped together -------------------- */

.wrapped-label-input {
	background: #fff;
	border: 1px solid #ccc;
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ccc;
	padding: 4px 6px; 
}
.wrapped-label-input span {
	display: inline-block;
}

.wrapped-label-input input, .wrapped-label-input input:focus {
	background-color: #fff !important;
	border: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	
	display: inline-block;
	padding: 0px;
	margin: 0px;
	margin-top: -3px;
}


/* Profile -------------------------------------------------------- */

.profile-content {
 	padding-top: 130px;
	margin-bottom: 50px;
}

.profile .navbar {
	padding-top: 10px;
}

.profile .navbar ul.nav li {
	display: inline-block;
	margin-right: 20px;
	font-size: 13px;
}

.profile .navbar ul.nav li a {
	color: #777;
	padding: 0px;
}

.profile .navbar ul.nav li:hover a, .profile .navbar ul.nav li.active a {
	background: none;
	color: #333;
}

#edit-profile-form p.mailing-addr-caption {
	margin: 10px 0px 4px 10px;
}

#edit-profile-form .controls-row label {
	width: 175px;
	display: inline-block;
	margin: 0px 10px 10px 0px;
}

.form-status {
	text-align: center;
	margin-top: 5px;
}
.form-status .loading { display: none; }
.form-status .error { color: red; display: none; }
.form-status .success { color: green; display: none; }

.controls-row select {
	width: 190px;
}

#edit-profile-form .controls-row label:last-child {
	margin-right: 0px;
}

#edit-profile-form input[name=name], 
#edit-profile-form input[name=email],
#edit-profile-form input[name=street] { width: 320px; }
#edit-profile-form input[name=city] { width: 140px; }
#edit-profile-form input[name=state], #edit-profile-form input[name=postal] { width: 70px; } 

#edit-profile-form .btn-group {
	display: inline-block;
	margin-top: -6px;
}
#edit-profile-form .btn-group .select {
	width: 160px;
	text-align: left;
}

#edit-profile-form button.btn-bigass {
	width: 120px;
	display: block;
	margin: 0px auto;
}

.profile-content .avatar img {
	border: 1px solid #ccc;
	padding: 10px;
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07) !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	border: 1px solid #ccc !important;
}

ul.providers {
	color: #777;	
	font-size: 12px;
	font-weight: bold;
	list-style: none;
	margin: 10px 0px;
	width: 120px;
}

ul.providers li {
	margin-bottom: 5px;
}
ul.providers a.remove {
	color: #ccc;
	font-size: 20px;
}
ul.providers a.remove:hover {
	text-decoration: none;
	color: #555;
}

a.btn.connect {
	color: #777;
	font-size: 11px;
	font-weight: normal;
	padding: 0px;
	height: 22px;
	vertical-align: top;
	width: 100%;
	text-align: left;
}
#login-modal .modal-body {
	text-align: center;
}
#login-modal .providers {
	width: auto;
}
#login-modal .providers li {
	display: inline-block;
	width: auto;
}
#login-modal .providers li a {
	font-size: 13px;
	margin-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	width: 90px;
}
#activity-list {
	border: 1px solid #f3f4f4;
	list-style: none;
	margin: 0px;
}

#activity-list li {
	padding: 5px 10px;
}
#activity-list li:nth-child(even) {	background-color: #f3f4f4; }

#activity-list li .points {
	color: #169410;
	font-weight: bold;
	margin-right: 10px;
	width: 40px;
	text-align: center;
	display: inline-block;
}

#activity-list li small {
	color: #777;
	font-size: 11px;
}

/* Sidebar -------------------------------------------------------- */

.sidebar {	color: #585656;
	font-size: 12px;
	padding: 5px 25px;
	z-index: 3;
	position: relative;
	/* background: url(../images/bkg-sidebar.png) no-repeat left top; */
	background-color: #fff;
	min-height: 658px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	margin-top: 7px;
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(85%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 85%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 );
	
}
.sidebar h4, .sidebar h3 {
	font-size: 16px;
	line-height: 17px;
	margin-bottom: 3px;
	color: #333;
}
.sidebar hr {
	clear: both;
	border: none;
	border-bottom: 1px solid #cdcfcf;
	padding-top: 10px;
}
.mypoints {
	color: #950011;
	font-weight: bold;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	padding: 0 8px;
}
.sidebar .scorings span.pull-right a {
	font-size: 10px;
}
.sidebar p {
	margin-bottom: 6px;
}
.sidebar a {
	color: #585656;
	text-decoration: underline;
}
.sidebar a:hover {
	text-decoration: none;
}
.sidebar .leaderboard {
	color: #333;
	font-size: 14px;
	font-weight: bold;
}

.sidebar .leaderboard .avatar {
	border: 2px solid #737373;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	margin-right: 5px;
	width: 22px;
}

.sidebar .leaderboard ul li {
	border-bottom: 1px solid #eeeeee;
	padding: 5px 15px;
	margin: 0px -15px;
	max-height: 40px;
}

.sidebar .leaderboard ul li:last-child {
	border-bottom: 0px;
}

.sidebar .leaderboard ul li.active {
	background: #71bee5 url(../images/you-badge.gif) no-repeat left center;
	border-top: 1px solid #4995bb;
	border-bottom: 1px solid #4995bb;
	border-right: 1px solid #4995bb;
	color: #fff;
}

.sidebar .leaderboard ul li .position, .sidebar .leaderboard ul li .points {
	position: relative;
	color: #666;
	font-size: 24px;
	top: 5px;
}
.sidebar .leaderboard .btn-tiny {
	float: none;
	text-align: right;
}
.sidebar .leaderboard ul li.active .position, .sidebar .leaderboard ul li.active .points {
	color: #f3f4f4;
}

.sidebar .lightning-divider {
	background-image: url(../images/lightning-divider.png);
	background-repeat: repeat-x;
	background-position: center center;
	height: 41px;
	margin: -20px -15px 0px -15px;
}
.scorings, .awards {
	margin-bottom: 20px;
}
.sidebar .scorings ul li {
	font-weight: bold;
	margin: 5px 0px;
}

.badge, .sidebar .scorings .badge, .event .title .badge {
	margin: 0px 10px 0px 5px;
	text-align: center;
	font-size: 9px;
	background: url(../images/point-indicator.png) no-repeat rgba(255, 255, 254, 0);
	height: 15px;
	line-height: 16px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 0 0px 0 7px;
	display: inline-block;
	position: relative;
	top: -1px;
}
/* .badge, .event .title .badge { padding-right: 10px; } */
.badge::after, .sidebar .scorings .badge::after {
	content: '';
	height: 15px;
	background: url(../images/point-indicator.png) no-repeat right center;
	position: absolute;
	width: 7px;
}
/* Modal styling */
h3 .badge {
	position: relative;
	top: -4px;
}
.modal-header h3 {
	font-size: 18px;
	line-height: 20px;
	color: #333;
}
.modal-header {
	border-bottom-style: none;
	padding-top: 10px;
	padding-bottom: 5px;
}
.modal-body {
	font-size: 12px;
	padding-top: 5px;
}
.modal-header .close {
	position: relative;
	top: -5px;
}
.sidebar h4 {
	color: #333;
}
.handwriting {
	font-family: 'Just Another Hand', cursive;
}
h4.handwriting {
	color: #333;
	font-size: 36px;
	line-height: 38px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: block;
}
.sidebar h4.handwriting.leftalign {
	-webkit-transform:rotate(-2deg);
	-moz-transform:rotate(-2deg);
	-o-transform:rotate(-2deg);
	-ms-transform:rotate(-2deg);
	position: relative;
	padding-left: 20px;
}
.sidebar h4.handwriting.rightalign {
	-webkit-transform:rotate(2deg);
	-moz-transform:rotate(2deg);
	-o-transform:rotate(2deg);
	-ms-transform:rotate(2deg);
	text-align: right;
	position: relative;
	padding-right: 20px;
}
.leftarrow, .rightarrow {
	background: url(../images/icon-arrows.png) no-repeat;
	width: 27px;
	text-indent: -9999px;
	height: 35px;
	display: inline-block;
	position: absolute;
	top: 12px;
}
.leftarrow {
	left: -6px;
}
.rightarrow {
	background-position: 0 bottom;
}
.free-stuff {
	margin: 0 0 20px;
}
.free-stuff li {
	display: inline-block;
	padding: 5px 0 13px;
	text-align: center;
	width: 75px;
	margin: 0!important;
	margin-left: 10px!important;
	background-image: none;
}
.free-stuff li:first-child {
	margin-left: 0!important;
}
.free-stuff li a {
	text-align: center;
	display: inline-block;
	width: 100%;
	padding-top: 33px;
	background: url(../images/glyph-swag.png) no-repeat center top;
	color: #666;
	font-size: 12px;
	line-height: 22px;
	text-decoration: none;
}
.free-stuff li:hover {
	-moz-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.5);
	-webkit-box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.5);
	box-shadow: inset 0 0 5px rgba(6, 6, 6, 0.5);
}
.free-stuff li a.icon-mugs {
	background-position-y: -40px;
}
.free-stuff li a.icon-stickers {
	background-position-y: -80px;
}
.btn-signup {
	display: block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #07770a;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.47);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.47);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.47);
	font: bold 16px "Open Sans", OpenSans, sans-serif;
	color: #fff;
	background-color: #25a716;
	padding-top: 8px;
	padding-bottom: 8px;
	
	background: rgb(46,196,30);
	background: -moz-linear-gradient(top,  rgba(46,196,30,1) 0%, rgba(26,135,14,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,196,30,1)), color-stop(100%,rgba(26,135,14,1)));
	background: -webkit-linear-gradient(top,  rgba(46,196,30,1) 0%,rgba(26,135,14,1) 100%);
	background: -o-linear-gradient(top,  rgba(46,196,30,1) 0%,rgba(26,135,14,1) 100%);
	background: -ms-linear-gradient(top,  rgba(46,196,30,1) 0%,rgba(26,135,14,1) 100%);
	background: linear-gradient(to bottom,  rgba(46,196,30,1) 0%,rgba(26,135,14,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec41e', endColorstr='#1a870e',GradientType=0 );
	text-shadow: 0 -1px 0 rgba(5, 5, 5, 0.48);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.btn-signup:hover {
	background: #25a716;
}
/* Watchers ------------------------------------------------------- */

.digest-event-info {
	margin-bottom: 6px;
	display: block;
	margin-top: 6px;
}

.digest-event-info .total.summary-hidden {
	display: none;
}

.digest-event-info li.total {
	-webkit-font-smoothing: antialiased;
	background-repeat: no-repeat;
	background-position: -5px center;
	border-right: 1px dotted #ccc;
	color: #333;
	display: inline-block;
	font-size: 12px;
	line-height: 1.3em;
	padding-left: 35px;
	padding-right: 10px;
	margin-right: 15px;
	width: 110px;
	min-height: 40px;
	margin-bottom: 10px;
	vertical-align: top;
	opacity:0.7;
	filter:alpha(opacity=70); 
}
.digest-event-info li.total a {
	text-decoration: underline;
	color: #333;
}
.digest-event-info li.total:hover, .digest-event-info li.total:hover a {
	-webkit-font-smoothing: antialiased;
	opacity:1;
	filter:alpha(opacity=100); 
}

.digest-event-info li.total:last-child {
	border-right: 0px;
	padding-right: 0px;
	margin-right: 0px;
}
.digest-event-info li.total:nth-child(4n+4) {
	margin-right: 0;
	border-right: none;
	padding-right: 0;
}
.digest-event-info li{
	background-image: url(../images/follow-glyphs.png);
	width: 38px;
	height: 38px;
}

.digest-event-info li.followers{
	background-position: -4px -118px;
}
.digest-event-info li.forkers {
	background-position: -4px -4px;
}
.digest-event-info li.watchers {
	background-position: -5px -155px;
}

.digest-event-info li .popup {
	position: relative;
	color: #fff;
}

.digest-event-info li .popup > a {
	padding-bottom: 5px; /* prevents loosing hover when moving to popup */
}

.digest-event-info li .popup > div {
	background-color: #000;
	color: #fff;
	display: none;
	position: absolute;
	padding: 3px 5px;
	margin-top: 10px;
	top: 10px;
	z-index: 1;
}
.digest-event-info li.total .popup > div a {
	color: #fff;
	text-decoration: none;
}
.digest-event-info li.total .popup > div a:hover {
	text-decoration: underline;
}
.digest-event-info li .popup:hover > div {
	display: block;
}

.digest-event-info li .popup:hover > div .people-caret {
	position: relative;
	display: block;
	height: 4px;
	top: -7px;
	width: 9px;
	background: url(../images/carets.png) no-repeat left 0;
}

/* Events --------------------------------------------------------- */

#event-list.top-rated {
	margin-top: 20px;
}

.event {
	position: relative;
	padding: 10px 0px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.event:hover {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.event.notified {
	background-color: #e9f8ff;
	border: 1px solid #71bee5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	/*
	-moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
	-webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1) !important;	
	*/
	padding: 10px;
	margin: 10px -10px;
}

.event:hover .toolbar {
	display: block;
}

.event .toolbar {
	display: none;
	position: absolute;
	float: right;
	color: #000;
	top: 2px;
	right: 3px;
}

.event .title {
	margin: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.event .title a {
	color: #000;
	font-size: 14px;
	margin: 0;
	line-height: 18px;
}

.event .title .expand-body {
	color: #777;
	margin-left: 10px;

}

.event .body {
	color: #333333;
	font-size: 12px;
	line-height: 17px;
}

.event .replies .body {
	display: block;
}

.event:hover .body {
	color: #000;
}

.event img.thumb {
	float: left;
	width: 120px;
	margin: 5px 15px 10px 0px;
}

.event .status {
	margin-bottom: 6px;
	height: 10px;
	margin-top: 6px;
}

.event .status, .event .status a, .event .manage-bar > ul.nav > li > a {
	color: #999;
}

.event .status .user-icon {
	height: 14px;
	margin-right: 5px;
}
.event ul.tag-list, .event ul.manage-bar {
	display: inline-block;
	margin: 0px;
}

.event ul.tag-list li, .event .manage-bar ul.nav > li {	
	background-color: #ecebeb;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #666666;
	float: left;
	margin-right: 5px;
	font-size: 12px;
	line-height: 14px;
	padding: 0px 5px 2px;
}

.event .manage-bar ul > li.tag-action.present {
	background-color: purple;
}

.event:hover ul.tag-list li a, .event:hover .manage-bar > ul.nav > li > a {	
	color: #3b3b3b;
}

.event ul.tag-list li:hover a, .event .manage-bar > ul.nav > li:hover > a {
	background: none;
	color: #A80E14;
}

.event ul.twitter-actions-list li {
	display: inline;
	margin-left: 5px;
}

.event ul.twitter-actions-list li i {
	margin-top: 3px;
}

.event .votes:hover {
	cursor: pointer;
}

.event .votes { 
	margin: 0px;
	position: relative;
}

.event .votes .uparrow {
	background-image: url(../images/vote-up.png);
	height: 14px;
	position: absolute;
	top: 1px;
	width: 15px;
}

.event:hover > .votes .uparrow, .event .upvoted .upvote {
	background-position: 0px -14px;
}

.reply-event:hover > .votes .uparrow, .reply-event .upvoted .upvote {
	background-position: 0px -14px;
}

.event .votes .count {
	left: 12px;
	font-size: 14px;
	font-weight: bold;
	position: absolute;
	top: -1px;
	text-align: center;
	width: 36px;
	color: #000;
}

.event .upvoted .count {
	color: #000;
}

.event .votes .voteup {
	border-radius: 3px;
	display: none;
	color: #fff;
	font-size: 11px;
	height: 20px;
	position: absolute;
	width: 54px;
	text-align: center;
	top: 22px;
	background: url(../images/carets.png) no-repeat -9999px 0 #169410;
}

.event .votes .voteup.upvoted {
	background-color: #7b7b7b;
}

.event:hover .votes .voteup {
	display: block;
	z-index: 10;
	width: 100%;
}

.event .votes .voteup .upvote-caret {
	display: block;
	height: 4px;
	margin-left: 4px;
	margin-top: -4px;
	width: 8px;
	background: url(../images/carets.png) no-repeat -9px 0;
}
.event .votes .voteup.upvoted .upvote-caret {
	background: url(../images/carets.png) no-repeat -17px 0;
}
.event .votes .awarded {
	color: #fff;
	font-size: 11px;
	background-color: #ff8d1a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	position: absolute;
	top: 22px;
	width: 100%;
	text-align: center;
}

.event .status .expand-replies {
	color: #666666;
	white-space:nowrap;
	font-size: 11px;
	margin-right: 10px;
	display: inline-block;
	cursor: pointer;
	position: relative;
	top: -4px;
}

.event .status .expand-replies .icon {
	border: 1px solid #999;
	float: left;
	margin: 3px 5px 0px 0px;
	height: 11px;
	width: 11px;
	background: url(../images/replies-glyph.png) no-repeat -1px -1px;
}
.event .status .expand-replies .icon.collapse {
	background-position-y: -14px;
}

.event .status .expand-manage-bar {
	background-image: url(../images/glyph-hovers.png);
	background-position-y: -42px;
	width: 14px;
	height: 14px;	
	display: none;
}
.event .status .expand-manage-bar.collapse { background-position-y: -56px; }

.event:hover .status .expand-manage-bar {
	display: inline-block;
}

.event .manage-bar {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 5px 0px 3px 0px;
	display: none;
	position: relative;
	top: 5px;
}

.event .event-metadata, .event-metadata strong, .event-metadata small, .event-metadata a {
	color: #999;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal;
	font-style: normal;
}
.event-metadata img {
	margin-right: 5px;
	margin-bottom: 2px;
}
.event-metadata a {
	text-decoration: underline;
	color: #999;
}
.readmore-link, .btn-tiny, .btn.btn-tiny {
	background-color: none;
	background: none;
	border: none;
	color: #999;
	display: block;
	float: right;
	font-size: 9px;
	margin-top: -2px;
	text-align: center;
	min-height: 14px;
	line-height: 12px;
	padding: 0 7px;
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}
.readmore-link:hover, .btn-tiny:hover {
	text-decoration: none;
}
.event .replies {
	background-color: #fff;
	border: 1px solid #c3bfbe;
	display: none;
	padding: 3px;
	position: relative;
	margin-top: 14px;
}

.event .replies .replies-caret {
	display: block;
	height: 7px;
	position: absolute;
	left: 20px;
	top: -7px;
	width: 12px;
	background: url(../images/replies-glyph.png) no-repeat 0 bottom;
}

.event .replies .reply-event {
	margin: 0px;
	position: relative;
}

.event .replies .even {
	background-color: #f8f7f7;
}

.event .replies .reply-event .votes {
	float: left;
	width: 50px;
	height: 20px;
}

.event .replies .reply-event .votes .count {
	top: 3px;
}

.event .replies .reply-event .votes .uparrow {
	left: 6px;
	top: 5px;
}

.event .replies .reply-event .body {
	/* float: left; */
	/* width: 500px; */
}

.reply-event .awarded-badge {
	background-image: url(../images/awarded.png);
	width: 37px;
	height: 37px;
	position: absolute;
	left: -34px;
}

.reply-event .award-btn {
	position: absolute;
	left: -65px;
	padding-right: 10px;
	display: none;
}
.reply-event:hover .award-btn { display: block; }

.reply-event .award-btn a {
	background-color: #ff8d1a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	color: #fff;
	display: block;
	position: relative;
	font-size: 11px;
	padding: 0px 10px;
}
.reply-event .award-btn a .caret {
	background-image: url(../images/carets.png);
	background-position: right top;
	width: 5px;
	heigth: 6px;
	position: absolute;
	right: -4px;
	top: 2px;
}


/* Single Event --------------------------------------------------- */

#event-container {
	padding-top: 70px;
	margin: 0px auto 100px auto;
	width: 740px;
}

#event-container .sep .flag.blue {
	margin-left: -140px; 
	padding: 3px 0px;
}

#event-container .event img.thumb {
	width: auto;
	max-width: 180px;
	margin: 0px 15px 10px 0px;
}

#event-container .event .link a {
	color: #999;
	font-weight: normal;
}


/* New post ------------------------------------------------------- */

#newpost-form-wrapper {
	position: fixed;
	top: 62px;
	z-index: 900;
	width: 100%;
}

#newpost-bottom-separator {
	background-color: #d5d8d8;
	height: 8px;
	width: 100%;
	border-bottom: 1px solid #aeadad;
}

#newpost-form-container {
	background-color: #fff;
	/*
	-moz-box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.17);
	box-shadow: inset 0px -3px 3px rgba(0, 0, 0, 0.17);
	border-bottom: 1px solid #fff;
	*/
}

.newpost-form {
	margin-top: 20px;
}

.newpost-form form {
	margin-bottom: 0px;
}

.newpost-form .left {
	width: 150px;
	margin-left: 10px;
}

.newpost-form .left .btn.select {
	width: 124px;
	text-align: left;
}

.newpost-form .left .btn {
	margin-top: 0px;
}

.newpost-form .right {
	width: 480px;
}

.newpost-form .right input[type=text], .newpost-form .right textarea {
	width: 480px;
}

.newpost-form .right input[name=postas] {
	width: 280px;
}

.newpost-sidebar {
	background-color: #f3f4f4;
	position: relative;
	width: 270px;
	margin-bottom: 20px;
	padding: 0px 20px 9px;
}

.newpost-form .image-uploader {
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #ccc;
	font-weight: bold;
	height: 60px;
	margin-bottom: 20px;
	padding-top: 60px;
	position: relative;
	text-align: center;
	width: 150px;
	background: url(../images/image-upload.png) no-repeat center 20px #fffef2;
	line-height: 15px;
}

.newpost-form .image-uploader:hover, .newpost-form .image-uploader.active {
	border: 1px solid #969595;
	color: #969595;
	cursor:pointer;
}

.newpost-form .image-uploader input {
	position: absolute;
	height: 100%;
	opacity: 0;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;	
	z-index: 101;
}

.newpost-form .image-uploader:focus {
	border: 1px solid #969595;
}

.newpost-form .image-uploader .progress {
	width: 80%;
	margin: 15px auto 0px auto;
	height: 5px;
}

.newpost-form .image-uploader .image-preview {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 100;
}

.newpost-sidebar h4 {
	color: #666;
}

.newpost-sidebar h4.submit-your-app {
	padding-right: 65px;	
	padding-top: 4px;
	min-height: 42px;
	background: url(../images/points-50.png) no-repeat right center;
}

.newpost-sidebar p {
	font-size: 12px;
	line-height: 1.4em;
}
#newpost-form-submit {
	padding-right: 30px;
	padding-left: 30px;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#hide-newpost-form-btn {
	position: absolute;
	right: 6px;
	top: 0px;
}
.text-error {
	font-size: 11px;
	margin: 0;
	font-weight: bold;
}
.irc-chat-container {
	height: 300px;
	border: 1px solid #969595;
	overflow: scroll;
	padding: 10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	-webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.07);
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 20px;
	overflow-x: hidden;
}

.irc-chat-container .username {
	color: red;
}

.twitter-profile-pic, .event .thumb {
	margin: 4px 9px 0 0;
	padding: 3px;
	max-width: 60px;
	background-color: #b2b2b2;
}
.twitter-actions-list .twitter-action {
	background-image: url(../images/twitter-actions.png);
	float: left;
	width: 17px;
	height: 20px;
	margin-right: 5px;
}
.twitter-actions-list.nav {
	margin-bottom: 0;
}
.twitter-actions-list .twitter-action.reply {
	background-position: 0px 2px;
}

.twitter-actions-list .twitter-action.retweet {
	background-position: 0px -15px;
}

.twitter-actions-list .twitter-action.star {
	background-position: 0px -32px;
}

/* notice boxes */
.noticebox {
	display: block;
	background-color: #fff;
	border: 1px solid #eaeaea;
	padding: 10px;
	font-size: 11px;
	line-height: 14px;
	color: #585656;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.noticebox.notice-blue {
	background-color: #e9f8ff;
	border-color: #fff;
}
.noticebox.notice-flag {
	padding-left: 47px;
	background-image: url(../images/icon-flag.png);
}
.noticebox.notice-star {
	padding-left: 47px;
	background-image: url(../images/icon-star.png);
}

.retweets-container {
	margin-right: 15px;
}

.retweets-container .profile-icon {
	width: 16px;
	height: 16px;
}

.retweets-container .retweet-icon {
	background-image: url(../images/icon-retweet.png);
	margin: -1px 3px 0 0;
	width: 24px;
	height: 16px;
}

.twitter-hashtag, .twitter-mention {
	font-weight: bold;
}

/* For Retina Displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2),  
only screen and (min--moz-device-pixel-ratio: 2),  
only screen and (-o-min-device-pixel-ratio: 2/1),  
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-device-pixel-ratio:1.5) {  

	#navbar .brand {
		background-image: url(../images/bithub-logo-x2.png);
		background-size: 100px 31px;
	}
	.event .votes .uparrow {
		background-image: url(../images/vote-up-x2.png);
		background-size: 15px 28px;
	}
	.event .status .expand .icon {
		background: url(../images/replies-glyph-x2.png) no-repeat;
		background-size: 13px 39px;
	}
	#navbar #profileOptions .dropdown-toggle, .caret {
		background-image: url(../images/dropdown-x2.png);
		background-size: 11px 37px;
	}
	.login-twitter, .login-github, .login-google, 
	.login-profile, .login-points, .login-logout {
		background-image: url(../images/account-glyphs-x2.png);
		background-size: 40px 120px;
	}
	.sidebar .scorings .badge,
	.sidebar .scorings .badge::after  {
		background-image: url(../images/point-indicator-x2.png);
		background-size: 37px 15px;
	}
	.twitter-actions-list .twitter-action {
		background-image: url(../images/twitter-actions-x2.png);
		background-size: 17px 51px;
	}
	.retweets-container .retweet-icon {
		background-image: url(../images/icon-retweet-x2.png);
		background-size: 24px 16px;
	}
	/*
	.sidebar .awards ul li {
		background-image: url(../images/icon-check-x2.png);
		background-size: 15px 16px;
	}
	*/
	.noticebox.notice-flag {
		background-image: url(../images/icon-flag-x2.png);
		background-size: 25px 25px;
	}
	.noticebox.notice-star {
		background-image: url(../images/icon-star-x2.png);
		background-size: 25px 25px;
	}
	#navbar #profileOptions .user-avatar {
		background-image: url(../images/icon-user-x2.png);
		background-size: 35px 35px;
	}
	.btn-bigass.plus {
		background: url(../images/newpost-glyphs-x2.png)no-repeat 10px 8px #585656;
		padding-left: 35px;
		background-size: 14px 49px;
	}
	.newpost-form .image-uploader {
		background-image: url(../images/image-upload-x2.png);
		background-size: 38px 38px;
	}
	.newpost-sidebar h4.submit-your-app {
		background-image: url(../images/points-50-x2.png);
		background-size: 78px 30px;
	}
	/*
	#event-list h3 {
		background-image: url(../images/follow-glyphs-x2.png);
		background-size: 38px 418px;
	}
	*/
}

