<li>
<a href="<%= filterUrl({view: 'latest', timespan: 'all'}) %>" class="latest boxed item <%= isSelected('latest') %>"><span class="glyph"></span>Latest</a>
</li>  

<li>
<a href="<%= filterUrl({view: 'greatest', timespan: 'week'}) %>" class="greatest boxed item <%= isSelected('greatest') %>"><span class="glyph"></span>Greatest</a>
</li>  
